:host {
  display: block;
}

:host ::ng-deep .mat-button-toggle-group-appearance-standard {
  border-color: currentColor;
  border-radius: var(--mdc-outlined-button-container-shape, var(--mdc-shape-small, 4px));

  .mat-button-toggle + .mat-button-toggle {
    border-left-color: currentColor;
  }

  .mat-button-toggle-label-content {
    line-height: 38px;
  }
}

:host ::ng-deep .mat-button-toggle-button {
  min-width: 7em;
  text-align: center;
}


:host ::ng-deep .mat-button-toggle-checked {
  background: var(--bs-info);
}
