<div *ngIf="warningsText" class="container-fluid">
  <div class="alert alert-warning mb-3" role="alert">
    <span class="warnings">{{warningsText}}</span>
  </div>
</div>

<div class="container-fluid footer-grid">
  <div class="footer-left">
    <ng-content select="[footer-left]"></ng-content>
  </div>
  <div class="footer-center">
    <!-- targets <form> in app-component that then triggers the export -->
    <button type="submit" form="exportForm" class="btn btn-outline-info" title="Daten exportieren" aria-label="Daten exportieren">
      <i class="bi bi-download"></i><span class="d-none d-sm-inline ms-1">Exportieren</span>
    </button>
  </div>
  <div class="footer-right">
    <ng-content select="[footer-right]"></ng-content>
  </div>
</div>
