<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/pkw_2%201.svg" height="72" alt="Pkw">
</p>
<h1>Pkw</h1>
<p>
    Wenn zur Deckung des Mobilitätsbedarfs ein Pkw eingesetzt werden
    soll, muss nicht zwangsläufig ein zusätzliches Fahrzeug beschafft
    werden. Zunächst sollte geprüft werden, ob der Bedarf durch die
  <a [routerLink]="[]" fragment="car-pooling=1">Koordinierung des bestehenden Fuhrparks</a> oder durch die
    Nutzung von <a [routerLink]="[]" fragment="car-sharing=1">Car-Sharing</a>-Angeboten gedeckt werden kann.
    Ist
    dies nicht der Fall, muss ein neues Fahrzeug <a [routerLink]="[]" fragment="leasing-kauf-eines-pkw=1">geleast/gekauft</a> werden.</p>
<p>
    Bei der <strong>Neubeschaffung</strong> sollte ein möglichst
    umweltverträglicher Antrieb gewählt und eine Überdimensionierung
    vermieden werden (siehe <a [routerLink]="[]" fragment="antriebsart=1">Antriebsart</a>, <a
        [routerLink]="[]" fragment="fahrzeugsegment=1">Fahrzeugsegment</a>,
    <a [routerLink]="[]" fragment="dimensionierung=1">Dimensionierung</a>).
</p>
