<!-- Wizard Tabs -->
<app-wizard-tabs [progress]="90"></app-wizard-tabs>

  <!-- Content -->
  <h5 class="mb-3">Raumliste</h5>

  <p>Je geringer die Heizkreistemperatur, desto effizienter ist eine Wärmepumpe. Eine gute Effizienz wird typischerweise erreicht, wenn die Vorlauftemperatur im Heizkreis am kältesten Tag unter 55°C liegt, dann ist Ihr Gebäude Niedertemperatur-ready.</p>
  <p>Um zu überprüfen, ob die Vorlauftemperatur in Ihrem Gebäude niedrig genug ist oder mit welchen Mitteln sie abgesenkt werden kann, muss ermittelt werden, welche Temperatur in den einzelen Räumen benötigt wird.</p>

  <p>Die Heizkörper in allen Räumen werden mit genauso warmem Heizkreiswasser versorgt. Zumeist kommen viele Räume mit einer geringeren Temperatur aus, während nur einige Räume des Gebäudes eine höhere Temperatur benötigen. Daher ist es entscheidend in diesen Räumen - den Schlechtpunkträumen - die erforderliche Heizkreistemperatur zu überprüfen und abzusenken.</p>

  <p><strong>Diese Räume werden in einer Liste gesammelt und dann im Detail erfasst. Dies dauert je Raum circa 5 Minuten. Sie können gern später weitere Räume ergänzen.</strong></p>

  <div class="mt-4 text-end">
    <button type="button" class="btn btn-secondary" routerLink="/gebaeude/vorlauftemperatur">Zurück</button>
    <button type="button" class="btn btn-primary ms-2" routerLink="/raeume/liste-1">Räume erfassen</button>
  </div>
