<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/oeffentliche_2%202.svg" height="72" alt="ÖPNV">
</p>
<h1>Bahn und Fernbus</h1>
<p>
    Für längere Strecken ohne aufwändige Transportanforderungen sind
    Bahn und Fernbus eine <b>umweltverträgliche </b>Alternative zum
    Pkw. Zudem haben Bahn und Bus oft einen <b>Kostenvorteil </b>gegenüber
    dem Auto, insbesondere wenn nicht nur die Kraftstoffkosten
    sondern die Vollkosten (inkl. Betriebskosten, Wartung, Reparatur
    etc.) berücksichtigt werden. Bei mehreren Langstrecken im Jahr lohnt sich zudem
    eine <a [routerLink]="[]" fragment="popup=bahncard">BahnCard</a>,
    die weitere Rabatte beim Bahnfahren bereithält.</p>
<p>
    Hervorzuheben ist darüber hinaus der Vorteil, dass die <b>Fahrtzeit
</b>in Bahn und Bus <b>aktiv genutzt</b> werden kann, was im Auto
    nicht der Fall ist.</p>
<p>
    Auf der Seite der <a target="_blank"
        href="https://www.bahn.de/">Deutschen
    Bahn</a> oder in der App <a target="_blank"
        href="https://www.bahn.de/service/mobile/db-navigator">DB
    Navigator</a> können Sie geplante Strecken
    eingeben und erhalten aktuelle Informationen zu möglichen
    Verbindungen mit der <b>Bahn</b>.</p>
<p>
    Auf <a href="https://www.checkmybus.de/"
 target="_blank">CheckMyBus</a>
    können Sie je nach geplanter Strecke Angebote zu <b>Fernbussen
</b>vergleichen.</p>
