<p class="d-flex gap-3 align-items-center justify-content-start">
  <img src="assets/Infoboxen/oeffentliche_2%202.svg" height="72" alt="ÖPNV">
  <img src="assets/Infoboxen/fahrrad%201.svg" height="48" alt="Fahrrad">
  <img src="assets/Infoboxen/pkw_2%201.svg" height="48" alt="PKW">
</p>
<h1>Klimawirkung verschiedener Verkehrsmittel</h1>
<p>
  Die <strong>Klimawirkung</strong> von Verkehrsmitteln des Personenverkehrs unterscheidet sich zum Teil
  erheblich. So stößt
  ein Pkw mit Abstand das meiste CO₂ pro Personenkilometer aus.
</p>
<figure>
  <img class="img-thumbnail img-fluid"
       style="width: 43rem"
       src="assets/THG-Vergleich%20von%20Verkehrsmitteln.svg"
       alt="Diagramm THG-Vergleich von Verkehrsmitteln">
  <figcaption class="small text-muted mt-1">
    Abbildung 1: Vergleich der CO₂-Emissionen von Verkehrsmitteln
    (eigene Abbildung nach (<a target="_blank"
    href="https://www.umweltbundesamt.de/sites/default/files/medien/5750/publikationen/2021_fb_umweltfreundlich_mobil_bf.pdf">UBA 2021</a>),
    Werte von 2017)
  </figcaption>
</figure>
<p>
  Mit dem <a href="https://www.quarks.de/umwelt/klimawandel/co2-rechner-fuer-auto-flugzeug-und-co/" target="_blank">CO₂-Rechner
  von Quarks</a> können die CO₂-Emissionen eines Pkw mit anderen Verkehrsmitteln verglichen
  werden. Hierbei können folgende Parameter variiert werden:
</p>
<ul>
  <li>Antriebsart</li>
  <li>Fahrzeugalter bzw. der Verbrauch</li>
  <li>Personen im Pkw</li>
  <li>Fahrstrecke</li>
</ul>
