<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/fahrrad%201.svg" height="72" alt="Fahrrad">
</p>
<h1>(E-)Fahrrad</h1>
<p>
    Auf kürzeren Strecken ist das Fahrrad eine umweltverträgliche,
    günstige und gesunde Alternative zum Pkw. Mit Elektro-Fahrrädern
    (Pedelecs) können auch längere Strecken bequem zurückgelegt
    werden.
</p>
<p>
  Fahrräder werden z.B. schon lange bei der <a href="https://powunity.com/e-bike-polizei-wenn-die-polizei-mit-dem-rad-unterwegs-ist" target="_blank">Polizei</a> eingesetzt. Neben der Umweltfreundlichkeit haben sie auch Vorteile
  bei der direkten Interaktion mit anderen Bürger*innen und Fahrradfahrenden.
</p>
<p>
    Was Sie bei der Beschaffung von Fahrrädern beachten sollten, können
    Sie auf der Seite des <a target="_blank"
        href="https://www.umweltbundesamt.de/umwelttipps-fuer-den-alltag/mobilitaet/fahrrad-radeln#gewusst-wie"
>UBA</a>
    nachlesen. Unter folgendem Link finden Sie zudem eine Übersicht
    über Elektro-Fahrräder im Test: <a target="_blank"
        href="https://www.radfahren.de/test-teile/e-bike-test-2024/"
>Elektro-Fahrräder</a></p>
