<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/oeffentliche_2%202.svg" height="72" alt="ÖPNV">
</p>
<h1>Bahncard</h1>
<p>
    Der Kauf einer <a
        href="https://www.bahn.de/angebot/bahncard">BahnCard</a>
    mit 25 oder 50 % Rabatt lohnt sich in der Regel schon nach wenigen
    Zugfahrten. Zudem ist eine BahnCard ein Anreiz, viel mit der Bahn zu
    reisen und diese auch für private Fahrten zu nutzen.</p>
<p>
    Im geschäftlichen Bereich gibt es die <a
        href="https://www.bahn.de/bahnbusiness/tickets-und-angebote/bahncard-business">BahnCard
    Business</a>, bei der der <b>Firmenrabatt mit dem
    BahnCard-Rabatt kombiniert</b> wird. Zudem läuft die BahnCard
    Business automatisch nach einem Jahr aus und kann beim Ausscheiden
    von Mitarbeitenden erstattet werden.</p>
