<section class="m-0 p-5 text-bg-light bg-white backdrop-white flex-grow-1">

  <h1>Kontakt</h1>

  <div class="row mb-5">
    <div class="col-3 col-lg-2">
      <a href="https://www.ifeu.de" target="_blank">
        <img class="img-fluid" src="assets/Startseite/ifeu_de.svg" alt="Ifeu" style="width: 14rem"/>
      </a>
    </div>

    <div class="col-9 offset-lg-1 ">
      <h2 class="mat-h3">
        Institut für Energie- und Umweltforschung Heidelberg gGmbH
      </h2>
      <p class="fw-bold my-3">
        Julia Pelzeter
      </p>
      <p>
        <mat-icon fontSet="material-symbols-outlined" class="wght-300 align-middle me-2">mail</mat-icon>
        <a href="mailto:julia.pelzeter@ifeu.de">julia.pelzeter&#64;ifeu.de</a>
      </p>
      <p>
        <mat-icon fontSet="material-symbols-outlined" class="wght-300 align-middle me-2">phone</mat-icon>
        <a href="tel:0049 30 284 45 78-23">+49 (0)30 284 45 78-23</a>
      </p>
    </div>
  </div>

  <div class="row  mb-5">
    <div class="col-3 col-lg-2">
      <a href="https://www.berlin.de/sen/uvk/" target="_blank">
        <img class="img-fluid" src="assets/Startseite/Berlin_SEN_MVKU_Logo_DE_V_PW_4C-1.svg" alt="Berlin"/>
      </a>
    </div>

    <div class="col-9 offset-lg-1 ">
      <h2 class="mat-h3">
        Senatsverwaltung für Mobilität, Verkehr, Klimaschutz und Umwelt - Berlin
      </h2>
      <p class="fw-bold my-3">
        Sebastian Schmidt
      </p>
      <p>
        <mat-icon fontSet="material-symbols-outlined" class="wght-300 align-middle me-2">mail</mat-icon>
        <a href="mailto: sebastian.schmidt@senmvku.berlin.de">sebastian.schmidt&#64;senmvku.berlin.de</a>
      </p>
      <p>
        <mat-icon fontSet="material-symbols-outlined" class="wght-300 align-middle me-2">phone</mat-icon>
        <a href="tel:0049 (0)30 9025-2485">+49 (0)30 9025-2485</a>
      </p>
    </div>
  </div>

  <div class="row  mb-5">
    <div class="col-3 col-lg-2 px-5">
      <a href="https://mluk.brandenburg.de/mluk/de/" target="_blank">
        <img class="img-fluid" src="assets/Startseite/Logo_Brandenburg-1.png" alt="Land Brandenburg"/>
      </a>
    </div>

    <div class="col-9 offset-lg-1">
      <h2 class="mat-h3">
        Ministerium für Umwelt, Landwirtschaft und Klimaschutz des Landes Brandenburg
      </h2>
      <p class="fw-bold my-3">
        Martin Pohlmann
      </p>
      <p>
        <mat-icon fontSet="material-symbols-outlined" class="wght-300 align-middle me-2">mail</mat-icon>
        <a href="mailto:martin.pohlmann@mluk.brandenburg.de">martin.pohlmann&#64;mluk.brandenburg.de</a>
      </p>
      <p>
        <mat-icon fontSet="material-symbols-outlined" class="wght-300 align-middle me-2">phone</mat-icon>
        <a href="tel:0049 (0)331 866-7923">+49 (0)331 866-7923</a>
      </p>
    </div>
  </div>

</section>
