<section class="m-0 p-5 text-bg-light bg-white flex-grow-1">

  <h1 class="mat-headline-3">Kontakt</h1>

  <div class="row mb-5">
    <div class="col-3">
      <img class="img-fluid" src="assets/Startseite/Logo_ifeu_UZ_re%201.png" alt="Ifeu"/>
    </div>

    <div class="col-9 ">
      <h2 class="mat-h3">
        Institut für Energie- und Umweltforschung Heidelberg gGmbH
      </h2>
      <p class="fw-bold my-3">
        Julia Pelzeter
      </p>
      <p>
        <mat-icon class="material-icons-outlined align-middle me-2">mail</mat-icon>
        <a href="mailto:julia.pelzeter@ifeu.de">julia.pelzeter@ifeu.de</a>
      </p>
      <p>
        <mat-icon class="material-icons-outlined align-middle me-2">phone</mat-icon>
        <a href="tel:0049 30 284 45 78-23">+49 (0)30 284 45 78-23</a>
      </p>
    </div>
  </div>

  <div class="row  mb-5">
    <div class="col-3">
      <img class="img-fluid" src="assets/Startseite/image%2022.png" alt="Berlin"/>
    </div>

    <div class="col-9 ">
      <h2 class="mat-h3">
        Senatsverwaltung für Mobilität, Verkehr, Klimaschutz und Umwelt - Berlin
      </h2>
      <p class="fw-bold my-3">
        Sebastian Schmidt
      </p>
      <p>
        <mat-icon class="material-icons-outlined align-middle me-2">mail</mat-icon>
        <a href="mailto: sebastian.schmidt@senumvk.berlin.de"> sebastian.schmidt@senumvk.berlin.de</a>
      </p>
      <p>
        <mat-icon class="material-icons-outlined align-middle me-2">phone</mat-icon>
        <a href="tel:0049 (0)30 9025-2485">+49 (0)30 9025-2485</a>
      </p>
    </div>
  </div>

  <div class="row  mb-5">
    <div class="col-3">
      <img class="img-fluid" src="assets/Startseite/MLUK_4C%201.png" alt="Land Brandenburg"/>
    </div>


    <div class="col-9 ">
      <h2 class="mat-h3">
        Ministerium für Umwelt, Landwirtschaft und Klimaschutz des Landes Brandenburg
      </h2>
      <p class="fw-bold my-3">
        Martin Pohlmann
      </p>
      <p>
        <mat-icon class="material-icons-outlined align-middle me-2">mail</mat-icon>
        <a href="mailto:martin.pohlmann@mluk.brandenburg.de">martin.pohlmann@mluk.brandenburg.de</a>
      </p>
      <p>
        <mat-icon class="material-icons-outlined align-middle me-2">phone</mat-icon>
        <a href="tel:0049 (0)331 866-7923">+49 (0)331 866-7923</a>
      </p>
    </div>
  </div>

</section>
