<section class="bg-dark text-bg-dark hero">

  <h1 class="text-center">
    <div class="mat-headline-4" style="margin: 8.3rem 0 0 0;">
      Willkommen beim Online-Tool
    </div>
    <div class="mat-headline-3" style="margin: 2rem 0 3.3rem 0">
      Umweltverträgliche Mobilität für die öffentliche Hand
    </div>
  </h1>

</section>


<section class="bg-white text-body container-fluid">

  <h3 class="mat-body-1 text-primary text-center mt-3 mb-5">
    Auf dieser Seite können Sie sich im Zuge der umweltverträglichen Beschaffung von Pkw umfassend informieren, Ihre
    Vorüberlegungen dokumentieren und Empfehlungen zur Antriebsart und zum Fahrzeugsegment erhalten.
  </h3>

  <div class="row align-items-stretch mb-5">

    <div class="col-4 text-center d-flex flex-column justify-content-between gap-2">
      <img src="assets/Startseite/fragezeichen_1%201.svg" alt="?" height="48">
      <h4>
        <span class="fw-bold">Hintergrundinformationen erhalten</span><br>
        Wie kann der Mobilitätsbedarf gedeckt werden?
      </h4>
      <p class="mt-4">
        <a mat-stroked-button color="primary" routerLink="/hintergrundinformationen">
          Hintergrundinformationen
        </a>
      </p>
    </div>

    <div class="col-4 text-center d-flex flex-column justify-content-between gap-2">
      <img src="assets/Startseite/flotte_1%202.svg" alt="Flotte" height="48">

      <h4>
        <span class="fw-bold">Notwendigkeit der Beschaffung</span><br>
        Kann der Fuhrpark verkleinert oder können andere
        Verkehrsmittel genutzt werden?
      </h4>

      <p class="mt-4">
        <a mat-stroked-button color="primary" routerLink="/vorueberlegungen">
          Vorüberlegungen
        </a>
      </p>
    </div>

    <div class="col-4 text-center d-flex flex-column justify-content-between gap-2">
      <img src="assets/Startseite/pkw_1%201.svg" alt="PKW" height="48">
      <h4>
        <span class="fw-bold">Pkw beschaffen</span><br>
        Kann ein möglichst umweltverträgliches Fahrzeug
        beschafft werden?
      </h4>

      <p class="mt-4">
        <a mat-stroked-button color="primary" routerLink="/empfehlungen">
          Empfehlungen
        </a>
      </p>
    </div>

  </div>


  <mat-accordion class="my-5" multi displayMode="flat">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="fs-6">
          Über das Online-Tool
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Es gibt viele Möglichkeiten, die Beschaffung umweltverträglicher zu gestalten. Mithilfe dieses Tools können
        Sie
        sich umfassend zu Themen der umweltverträglichen Beschaffung im Mobilitätsbereich informieren.
      </p>
      <p>
        Der Fokus des Tools
        liegt insbesondere auf den Vorüberlegungen vor einer Beschaffung und Empfehlungen zur Antriebsart und zum
        Fahrzeugsegment bei einer Pkw-Beschaffung. Ihre Eingaben und die resultierenden Ergebnisse können Sie zur
        Dokumentation herunterladen. Zudem werden mögliche Umweltanforderungen in der Ausschreibung von Pkw und ein
        Lebenszykluskosten-Tool für die Angebotswertung bereitgestellt.
      </p>
      <p>
        Es werden ausschließlich Kraftfahrzeuge behandelt,
        die als Pkw zugelassen sind.
      </p>
      <p>
        Dieses Online-Tool wurde im Rahmen des Projekts <a href="https://www.ifeu.de/projekt/beschaffung-pkw/">„Entwicklung
        von Instrumenten für die umweltverträgliche
        Beschaffung von Pkw durch öffentliche Stellen“</a> entwickelt.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="fs-6">
          Ansatzpunkte für die umweltverträgliche Beschaffung
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Die Übersichtsgrafik zeigt, an welchen Punkten im Beschaffungsprozess dieses Tool mit welchen Mitteln ansetzt.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="fs-6">
          Downloads: Umweltanforderungen und Lebenszykluskosten-Tool
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <strong>Datei</strong> In dieser Auflistung finden Sie umweltbezogene Mindestanforderungen und
        Zuschlagskriterien,
        die Sie in die
        Ausschreibung von Pkw übernehmen können.
      </p>
      <p>
        <a href="assets/downloads/Umweltanforderungen.pdf">Umweltanforderungen Pkw-Beschaffung</a>
      </p>
      <p>
        <strong>Tool</strong> Dieses Tool können Sie für die Wirtschaftlichkeitsberechnung im Zuge der Angebotswertung
        verwenden. Es
        berechnet die Lebenszykluskosten von Pkw und ist für verschiedene Antriebsarten geeignet.
      </p>
      <p>
        <a href="">Lebenszykluskosten-Berechnungstool Pkw-Beschaffung</a>
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="fs-6">
          Rechtliche Einordnung
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Den rechtlichen Rahmen für die Pkw-Beschaffung gibt das SaubFahrzeugBeschG vor. Es fordert eine Quote von 38,5 %
        für
        die Beschaffung emissionsarmer, "sauberer" Fahrzeuge. Als "sauber" gelten dabei Pkw, die max. 50 g CO2/km und
        nur
        80
        % der nach Abgasnorm vorgeschriebenen Grenzwerte für Luftschadstoffe ausstoßen. Ab 2026 darf ein "sauberer" Pkw
        gar
        kein CO2 mehr ausstoßen, womit nur noch rein batterieelektrische Pkw (BEV) die Quote erfüllen können.
      </p>
      <p>Die
        Empfehlungen zur Antriebsart in diesem Tool sollen bei der Erfüllung der Quote unterstützen. Die in diesem Tool
        gelisteten Umweltanforderungen für die Ausschreibung von Pkw gelten zusätzlich zu den Anforderungen des
        SaubFahrzeugBeschG, da sie teilweise darüber hinausgehen (z.B. der CO2-Grenzwert für PHEV oder der Grenzwert für
        den
        Energieverbrauch von E-Autos). Zudem werden hier weitere Grenzwerte für alle Fahrzeuge, die nicht unter die
        Quote
        fallen, vorgegeben (z.B. CO2-Grenzwerte für Verbrenner).
      </p>
    </mat-expansion-panel>

  </mat-accordion>


  <div class="mt-3 bg-light p-3 row justify-content-between">

    <p class="nav d-flex flex-row gap-4 m-0 p-3 col-auto">
      <span class="nav-item">
        Gefördert durch:
      </span>
      <span class="nav-item">
        <a href="https://www.dbu.de/" class="nav-line">
        <img src="assets/Startseite/png-DBU-Logo-gefoerdert-durch-RGB%201.png" alt="DBU" height="144"/>
        </a>
      </span>
      <span class="nav-item">
        <a href="https://www.berlin.de/sen/uvk/" class="nav-line">
        <img src="assets/Startseite/image%2022.png" alt="Berlin" height="106"/>
        </a>
      </span>
      <span class="nav-item">
        <a href="https://mluk.brandenburg.de/mluk/de/" class="nav-line">
        <img src="assets/Startseite/MLUK_4C%201.png" alt="Land Brandenburg" height="117"/>
        </a>
      </span>
    </p>

    <ul class="nav d-flex flex-row col-auto align-items-end">
      <li class="nav-item ms-auto">
        <a mat-button class="nav-link" href="#">Impressum</a>
      </li>
      <li class="nav-item">
        <a mat-button class="nav-link" href="#">Datenschutz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.ifeu.de">
          <img src="assets/Startseite/Logo_ifeu_UZ_re%201.png" alt="Ifeu" height="80"/>
        </a>
      </li>
    </ul>
  </div>

</section>
