<mat-card class="mat-card-main-content mat-card-print m-3 mt-0 text-bg-light bg-white flex-grow-1">

  <mat-card-content class="flex-grow-1">

    <div class="d-flex align-content-center align-items-center justify-content-between">

      <h1 class="mat-headline-6 ms-2 mb-0 text-uppercase">
        Hintergrundinformationen
      </h1>

      <img src="assets/Hintergrundinfos/fragezeichen_1%201.svg" alt="Flotte" height="40">

    </div>

    <hr class="mt-1">

    <section class="p-2">

      <div class="row">
        <div class="col-12 col-md-6 col-lg-7">
          <p>Auf dieser Seite können Sie sich zu Themen der umweltverträglichen Mobilität informieren.</p>

          <ul
            class="mb-4">
            <li>
              Die Infoboxen „Klimawirkung verschiedener Verkehrsmittel“ und „Mobilitätsbudget“ geben einen allgemeinen Einstieg in das Thema.
            </li>
            <li>
              Die anderen Infoboxen geben spezifische Informationen zu den verschiedenen Verkehrsmitteln (Pkw,
              Öffentliche Verkehrsmittel, Fahrrad) und deren mögliche Einbindung bei der Deckung des Mobilitätsbedarfs
              der öffentlichen Hand.
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-5 d-print-none">
          <!-- Search box -->
          <mat-form-field class="w-100" appearance="outline" color="accent">
            <input type="text" matInput [matAutocomplete]="auto" [formControl]="searchControl"
                   placeholder="Suchbegriff hier eingeben">
            <button *ngIf="searchControl.value" matSuffix mat-icon-button aria-label="Leeren"
                    (click)="searchControl.setValue('')">
              <mat-icon fontSet="material-symbols-outlined" class="wght-300">close</mat-icon>
            </button>
            <button *ngIf="!searchControl.value" matSuffix mat-icon-button aria-label="Suchen">
              <mat-icon fontSet="material-symbols-outlined">search</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
              <!-- each item in filteredOptions, highlightMatch method is used to bold the matching search term -->
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                          class="px-3 py-2 border-bottom"
              >
                <div class="mat-option-text">
                  <div class="mat-body-2 mb-1 text-truncate w-100"
                       [innerHtml]="highlightMatch(option.title, searchControl.value)"></div>
                  <div class="mat-caption text-muted text-nowrap text-truncate w-100"
                       [innerHtml]="highlightMatch(option.content, searchControl.value)"></div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row gap-5 justify-content-around">

        <div class="col-12 col-md" style="max-width: 38rem">

          <!-- Blues palette -->
          <div class="d-flex flex-column gap-2">

            <app-info-card
              cardTitle="Klimawirkung verschiedener Verkehrsmittel"
              cardBodyText="Die Klimawirkung von Verkehrsmitteln des Personenverkehrs unterscheidet sich erheblich."
              innerCardClass="bg-600-blues"
              outerCardClass="info-card-all"
              class="mb-4"
            >
              <app-popup-thg-vergleich></app-popup-thg-vergleich>
            </app-info-card>


            <app-info-card
              cardTitle="Mobilitätsbudget"
              cardBodyText="Das Mobilitätsbudget bietet ein großes Potential für umweltverträgliche Mobilität."
              innerCardClass="bg-600-blues"
              outerCardClass="info-card-budget"
              class="mb-4"
            >
              <app-popup-mobilitaetsbudget></app-popup-mobilitaetsbudget>

            </app-info-card>


            <app-info-card
              cardTitle="Pkw"
              cardBodyText="Sollen Pkw eingesetzt werden, dann sollten Alternativen zur Anschaffung geprüft werden sowie die Umweltverträglichkeit der Neuanschaffungen möglichst hoch sein. "
              innerCardClass="bg-500-blues"
              outerCardClass="info-card-pkw"
            >
              <app-popup-pkw></app-popup-pkw>
            </app-info-card>

            <app-info-card
              cardTitle="Antriebsart"
              innerCardClass="bg-400-blues"
            >
              <app-popup-antriebsart></app-popup-antriebsart>
            </app-info-card>

            <app-info-card
              cardTitle="Fahrzeugsegment"
              innerCardClass="bg-400-blues"
            >
              <app-popup-fahrzeugsegment></app-popup-fahrzeugsegment>
            </app-info-card>

            <app-info-card
              cardId="Dimensionierung"
              cardTitle="Motorleistung und Batteriegröße"
              innerCardClass="bg-400-blues"
            >
              <app-popup-dimensionierung></app-popup-dimensionierung>
            </app-info-card>

            <app-info-card
              cardId="Ausstattung"
              cardTitle="Sonderausstattung"
              innerCardClass="bg-400-blues"
            >
              <app-popup-ausstattung></app-popup-ausstattung>

            </app-info-card>

            <app-info-card
              cardTitle="Car-Pooling"
              innerCardClass="bg-200-blues"
            >
              <app-popup-pkw-pooling></app-popup-pkw-pooling>
            </app-info-card>

            <app-info-card
              cardTitle="Car-Sharing"
              innerCardClass="bg-200-blues"
            >
              <app-popup-pkw-sharing></app-popup-pkw-sharing>

            </app-info-card>

            <app-info-card
              cardTitle="Mietwagen"
              innerCardClass="bg-200-blues"
            >
              <app-popup-pkw-mieten></app-popup-pkw-mieten>
            </app-info-card>

            <app-info-card
              cardId="Leasing/Kauf eines Pkw"
              cardTitle="Leasing/Kauf eines Pkw – Marktanalyse"
              innerCardClass="bg-200-blues"
            >
              <app-popup-pkw-leasing-kauf></app-popup-pkw-leasing-kauf>
            </app-info-card>

          </div>

        </div>

        <div class="col-12 col-md" style="max-width: 38rem">

          <!-- Turquoise palette -->
          <div class="d-flex flex-column gap-2 mb-4">

            <app-info-card
              cardTitle="Öffentliche Verkehrsmittel"
              cardBodyText="Die Nutzung von Bus und Bahn etc. ist eine umweltverträgliche Alternative zum Pkw."
              innerCardClass="bg-600-turquoise"
              outerCardClass="info-card-oepnv"
            >
              <app-popup-oeffentliche-verkehrsmittel></app-popup-oeffentliche-verkehrsmittel>
            </app-info-card>

            <app-info-card
              cardTitle="ÖPNV"
              innerCardClass="bg-500-turquoise"
            >
              <app-popup-oepnv></app-popup-oepnv>

            </app-info-card>

            <app-info-card
              cardTitle="Abo im ÖPNV"
              innerCardClass="bg-200-turquoise"
            >
              <app-popup-abo-oepnv></app-popup-abo-oepnv>
            </app-info-card>

            <app-info-card
              cardTitle="Bahn und Fernbus"
              innerCardClass="bg-500-turquoise"
            >
              <app-popup-bahn-fernbus></app-popup-bahn-fernbus>
            </app-info-card>

            <app-info-card
              cardTitle="Bahncard"
              innerCardClass="bg-200-turquoise"
            >
              <app-popup-bahncard></app-popup-bahncard>


            </app-info-card>
          </div>

          <!-- Greens palette -->
          <div class="d-flex flex-column gap-2">

            <app-info-card
              cardTitle="Fahrrad"
              cardBodyText="Fahrradfahren schont das Klima und den öffentlichen Haushalt, ist leise und hält fit."
              innerCardClass="bg-600-greens"
              outerCardClass="info-card-bike"
            >
              <app-popup-fahrrad></app-popup-fahrrad>
            </app-info-card>

            <app-info-card
              cardTitle="(E-)Fahrrad"
              innerCardClass="bg-A400-greens"
            >
              <app-popup-efahrrad></app-popup-efahrrad>
            </app-info-card>
            <app-info-card
              cardTitle="(E-)Lastenrad"
              innerCardClass="bg-A400-greens"
            >
              <app-popup-elastenrad></app-popup-elastenrad>

            </app-info-card>
            <app-info-card
              cardTitle="Pooling von Fahrrädern"
              innerCardClass="bg-200-greens"
            >
              <app-popup-fahrrad-pooling></app-popup-fahrrad-pooling>

            </app-info-card>
            <app-info-card
              cardTitle="Sharing-Angebote für Fahrräder"
              innerCardClass="bg-200-greens"
            >
              <app-popup-fahrrad-sharing></app-popup-fahrrad-sharing>

            </app-info-card>
            <app-info-card
              cardTitle="Abo/Leasing eines Fahrrads"
              innerCardClass="bg-200-greens"
            >
              <app-popup-fahrrad-abo-kauf-leasing></app-popup-fahrrad-abo-kauf-leasing>

            </app-info-card>
          </div>

        </div>

      </div>


    </section>

  </mat-card-content>

</mat-card>
