:host {
  display: contents;

  --color-fahrrad: var(--color-A400-greens);
  --color-oepnv: var(--color-600-turquoise);
  --color-pkw-pooling: var(--color-300-turquoise);
  --color-pkw-sharing: var(--color-200-turquoise);
  --color-pkw-mieten: var(--color-50-turquoise);
}

.text-secondary {
  &[data-direction="vergrößern"] {
    color: var(--bs-danger) !important;
  }

  /*&[data-direction="verkleinern"] {

  }*/

  &[data-direction="verkleinern"][data-percent="0"] {
    color: var(--bs-warning) !important;
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr) auto auto auto;
  grid-template-columns: auto auto auto repeat(3, 1fr);
  grid-template-areas:
        "legend subtitle up-arrow A1 B1 C1"
        "legend subtitle up-arrow A2 B2 C2"
        ". . . right-arrow right-arrow    right-arrow"
        ". . . freq-rare   freq-sometimes freq-regular"
        ". . . freq-title  freq-title     freq-title";

  .legend {
    grid-area: legend;

    writing-mode: vertical-lr;
    text-orientation: inherit;
    rotate: 180deg;
    text-align: center;
  }

  .subtitle {
    grid-area: subtitle;

    writing-mode: vertical-lr;
    text-orientation: inherit;
    rotate: 180deg;
    text-align: center;
  }

  .up-arrow {
    grid-area: up-arrow;
    align-self: center;
    justify-self: center;
  }

  .A1 {
    grid-area: A1;
  }

  .B1 {
    grid-area: B1;
  }

  .C1 {
    grid-area: C1;
  }

  .A2 {
    grid-area: A2;
  }

  .B2 {
    grid-area: B2;
  }

  .C2 {
    grid-area: C2;
  }


  .right-arrow {
    grid-area: right-arrow;
    align-self: center;
    justify-self: center;
  }

  .freq-rare {
    grid-area: freq-rare;
    text-align: center;
  }

  .freq-sometimes {
    grid-area: freq-sometimes;
    text-align: center;
  }

  .freq-regular {
    grid-area: freq-regular;
    text-align: center;
  }

  .freq-title {
    grid-area: freq-title;
    text-align: center;
  }

  .fahrrad ::ng-deep svg {
    transform: translate(15px, 15px);
  }

  .oepnv ::ng-deep svg {
    transform: translate(-15px, -15px);
  }

  .pkw-pooling ::ng-deep svg {
    transform: translate(-20px, -20px);
  }

  .pkw-sharing ::ng-deep svg {
    transform: translate(20px, 20px);
  }

  .pkw-mieten ::ng-deep svg {
    transform: translate(0px, 0px);
  }
}

.circle {
  stroke: currentColor;
  stroke-width: 2px;
  fill: transparent
}

.fahrrad {
  color: var(--color-fahrrad);
}

.oepnv {
  color: var(--color-oepnv);
}

.pkw-pooling {
  color: var(--color-pkw-pooling);
}

.pkw-sharing {
  color: var(--color-pkw-sharing);
}

.pkw-mieten {
  color: var(--color-pkw-mieten);
}

.mat-card-ubersicht {
  inset: 3.7rem -1rem -1rem auto;
  width: calc(50% + 1rem);
  position: absolute;
  background-color: var(--bs-light);
  max-height: 863px;
  z-index: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  transition-delay: 0s;
  transition: width 0.25s ease-in-out,
  inset 0.25s ease-in-out,
  box-shadow 0.25s ease-in-out;

  &.mat-card-hidden {
    width: 0;
    box-shadow: none;

    /* Angular Material after pseudo lass prevents the card from beeing invisible */
    &:after {
      display: none;
    }

    /* hide clickable elements in hidden card to prevent keyboarb focus*/
    ::ng-deep [role="button"] {
      visibility: hidden;
      transition-property: visibility;
      transition-delay: 0.25s;
    }
  }

  > .btn-open-close {
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateX(-100%) translateY(50%);
    transition: left 0.25s ease-in-out;
  }

  &.mat-card-visible {
    > .btn-open-close {
      left: 9px;
    }
  }
}

/* hide reset button in first step */
app-custom-stepper[data-current-step="0"] ::ng-deep .btn-reset {
  display: none;
}
