<mat-card class="mx-3 flex-grow-1">
  <!--
    <mat-card-header>
      <mat-card-title>Einzelfahrzeug beschaffen</mat-card-title>
    </mat-card-header>
  -->

  <mat-card-content class="flex-grow-1">

    <div class="row h-100">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)"
            class="col-6 d-flex flex-column">

        <!-- Stepper -->
        <mat-horizontal-stepper [linear]="false"
                                headerPosition="bottom"
                                labelPosition="bottom"
                                class="flex-grow-1"
        >

          <mat-step>
            <ng-template matStepLabel>Einleitung</ng-template>

            <h3 class="h6 text-uppercase text-primary">
              <div class="float-end">
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
              </div>
              Vorüberlegungen: Einleitung
            </h3>
            <hr>

            <section class="p-3">
              <p>
                Vor jeder Pkw-Beschaffung sollte geprüft werden, ob ein Pkw-Kauf tatsächlich notwendig ist. Dabei ist
                insbesondere zu prüfen, ob der Mobilitätsbedarf (teilweise) mit folgenden Alternativen zum Pkw-Kauf
                gedeckt werden kann:
              </p>
              <ul>
                <li>ÖPNV bzw. Bahn/Fernbus</li>
                <li>(Elektro-)Fahrrad/Lastenrad</li>
                <li>Gemeinsame Nutzung vorhandener Pkw (Car-Pooling)</li>
                <li>Nutzung von Pkw eines Car-Sharing-Anbieters</li>
                <li>Mietwagen für einzelne Strecken</li>
              </ul>
              <p>
                Solche Vorüberlegungen bezüglich der Bedarfsermittlung sind z.B. im Land Berlin verpflichtend zu
                dokumentieren.
              </p>
              <p>
                Sie können sich auch zuerst die Zeit nehmen, die Infoboxen auf der rechten Seite zu erkunden.
              </p>
            </section>

          </mat-step>


          <mat-step>
            <ng-template matStepLabel>
              Mobilitätsbedarf
            </ng-template>
            <h3 class="h6 text-uppercase text-primary">
              <div class="float-end">
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
              </div>
              Vorüberlegungen: Angaben
            </h3>

            <hr>
            <h4>Mobilitätsbedarf</h4>
            <p>
              Der folgende Teil beschäftigt sich mit den Fragen, wie der Mobilitätsbedarf gedeckt werden kann und ob
              alle Pkw-Beschaffungen tatsächlich notwendig sind. Solche Vorüberlegungen bezüglich der Bedarfsermittlung
              sind z.B. im Land Berlin verpflichtend zu dokumentieren.
            </p>
            <p>
              Die Fragen sollten jeweils für einen Standort bzw. für Zusammenschlüsse von Standorten/Institutionen, die
              Fahrzeuge untereinander austauschen/gemeinsam nutzen, beantwortet werden
            </p>

            <h5>1. Umfang der Pkw-Beschaffung</h5>

            <p>
              Wie viele Pkw sollen beschafft werden?
            </p>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Anzahl Pkw</mat-label>
              <input matInput type="number" [ngModel]="grid.cells['Names']['F_B1']"
                     name="F_B1" #F_B1="ngModel" required min="1" step="1"
                     (ngModelChange)="grid.setCell('Names', 'F_B1', F_B1.value)">
            </mat-form-field>

            <p>
              Wie viele Fahrzeuge aus einem vorhandenen Fuhrpark werden durch diese Beschaffung ersetzt?
            </p>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Anzahl Fahrzeuge, die ersetzt werden</mat-label>
              <input matInput type="number" [ngModel]="grid.cells['Names']['F_E1']"
                     name="F_E1" #F_E1="ngModel" required min="1" step="1"
                     (ngModelChange)="grid.setCell('Names', 'F_E1', F_E1.value)">
            </mat-form-field>

          </mat-step>


          <mat-step>
            <ng-template matStepLabel>
              Alternativen zum PKW-Kauf
            </ng-template>
            <h3 class="h6 text-uppercase text-primary">
              <div class="float-end">
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
              </div>
              Vorüberlegungen: Angaben
            </h3>
            <hr>

            <h5>2. Alternativen zum Pkw-Kauf</h5>
            <p class="fw-bolder">
              Wie oft können die geplanten Strecken/Einsatzzwecke mit folgenden Verkehrsmitteln erledigt werden?
            </p>
            <p>
              Bedenken Sie bei der Beantwortung der Frage zu den Substitutionsmöglichkeiten, dass die abgefragten
              Optionen auch kombiniert werden können (z.B. Fahrrad und ÖPNV).
            </p>
            <p>
              Eine Analyse der bisherigen Nutzung des Fuhrparks kann bei der Beantwortung der
              Frage helfen.
            </p>

            <div class="row">
              <div class="col-auto">
                <h6>Öffentliche Verkehrsmittel</h6>

                <mat-form-field appearance="outline">
                  <mat-label>Häufigkeit der Nutzung</mat-label>
                  <mat-select [ngModel]="grid.cells['Names']['F_BF1']" name="F_BF1" #F_BF1="ngModel" required
                              (ngModelChange)="grid.setCell('Names', 'F_BF1', F_BF1.value)">
                    <mat-option
                      *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV3']]"
                      [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-auto">
                <h6>Fahrrad</h6>
                <mat-form-field appearance="outline">
                  <mat-label>Häufigkeit der Nutzung</mat-label>
                  <mat-select [ngModel]="grid.cells['Names']['F_FL1']" name="F_FL1" #F_FL1="ngModel" required
                              (ngModelChange)="grid.setCell('Names', 'F_FL1', F_FL1.value)">
                    <mat-option
                      *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV3']]"
                      [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>


            <h6>PKW</h6>

            <h6>Pooling</h6>
            <mat-form-field appearance="outline">
              <mat-label>Häufigkeit der Nutzung</mat-label>
              <mat-select [ngModel]="grid.cells['Names']['F_CP1']" name="F_CP1" #F_CP1="ngModel" required
                          (ngModelChange)="grid.setCell('Names', 'F_CP1', F_CP1.value)">
                <mat-option
                  *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV3']]"
                  [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h6>Sharing</h6>
            <mat-form-field appearance="outline">
              <mat-label>Häufigkeit der Nutzung</mat-label>
              <mat-select [ngModel]="grid.cells['Names']['F_CS1']" name="F_CS1" #F_CS1="ngModel" required
                          (ngModelChange)="grid.setCell('Names', 'F_CS1', F_CS1.value)">
                <mat-option
                  *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV3']]"
                  [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h6>Mieten</h6>
            <mat-form-field appearance="outline">
              <mat-label>Häufigkeit der Nutzung</mat-label>
              <mat-select [ngModel]="grid.cells['Names']['F_M1']" name="F_M1" #F_M1="ngModel" required
                          (ngModelChange)="grid.setCell('Names', 'F_M1', F_M1.value)">
                <mat-option
                  *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV3']]"
                  [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </mat-step>


          <mat-step>
            <ng-template matStepLabel>
              Verkleinerung des Fuhrparks
            </ng-template>
            <h3 class="h6 text-uppercase text-primary">
              <div class="float-end">
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
                <span class="material-icons">airport_shuttle</span>
              </div>
              Vorüberlegungen: Angaben
            </h3>

            <hr>

            <h5>3. Verkleinerung des Fuhrparks</h5>
            <p>
              Die folgende Frage bezieht sich auf Ihre Einschätzung, nachdem Sie die Vorüberlegungen zur
              Flottenbeschaffung durchgegangen sind:
            </p>
            <p>
              Auf wie viele der ursprünglich zu beschaffenden Pkw kann durch eine optimale Ausnutzung des Fuhrparks und
              die Kombination mit anderen Verkehrsmitteln verzichtet werden?
            </p>

            <mat-form-field appearance="outline" class="d-flex mx-auto w-75">
              <mat-label>Anzahl Pkw</mat-label>
              <input matInput type="number" [ngModel]="grid.cells['Names']['F_E2']"
                     name="F_E2" #F_E2="ngModel" required min="0" step="1"
                     (ngModelChange)="grid.setCell('Names', 'F_E2', F_E2.value)">
            </mat-form-field>

            <mat-card class="bg-light mb-1">
              <mat-card-content>
                <p>
                  Für die verbleibenden Pkw nutzen Sie bitte den Tooleinstieg "Empfehlungen" zur
                  Pkw-Beschaffung.
                </p>
                <p>
                  Sollte der Einsatzzweck für alle zu beschaffenden Pkw gleich sein, können die
                  resultierenden Empfehlungen für die komplette Ausschreibung übernommen werden. Bei sich
                  deutlich unterscheidenden Einsatzzwecken sollten die Abfragen pro Einsatzzweck bearbeitet
                  werden.
                </p>
                <div class="text-center">
                  <a mat-flat-button color="primary" class="rounded-pill" routerLink="/empfehlungen">
                    Empfehlungen
                  </a>
                </div>
              </mat-card-content>
            </mat-card>

          </mat-step>


        </mat-horizontal-stepper>

      </form>

      <!-- Results -->
      <div class="col-6 d-flex flex-column align-content-stretch align-items-stretch">

        <mat-card class="flex-grow-1 bg-info">
          <mat-card-header>
            <mat-card-title>
              Empfehlung zur Antriebsart:
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{grid.getCell('Names', 'E_A0')}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="flex-grow-1 bg-info">
          <mat-card-header>
            <mat-card-title>
              Empfehlung zum Fahrzeugsegment:
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{grid.getCell('Names', 'E_F0')}}</p>
          </mat-card-content>
        </mat-card>

      </div>

    </div>

  </mat-card-content>
</mat-card>
