<mat-card class="mx-3 text-bg-light bg-white flex-grow-1 mb-3">
  <!--
    <mat-card-header>
      <mat-card-title>Einzelfahrzeug beschaffen</mat-card-title>
    </mat-card-header>
  -->

  <mat-card-content class="flex-grow-1">

    <div class="row h-100">

      <form #form="ngForm" (ngSubmit)="onSubmit(form)"
            class="col-6 d-flex flex-column">

        <!-- Stepper -->
        <app-custom-stepper #stepper
                            title="Vorüberlegungen"
                            [linear]="false"
                            class="flex-grow-1"
        >

          <ng-template stepperGraphic>
            <img src="assets/Startseite/flotte_1%202.svg" alt="Flotte" height="40">
          </ng-template>
          <ng-template finishButton>
            <a mat-stroked-button
               [routerLink]="['/']"
               color="primary">Beenden
            </a>
          </ng-template>


          <cdk-step label="Einleitung">

            <hr class="mt-1">
            <section class="p-2">
              <p>
                Vor jeder Pkw-Beschaffung sollte geprüft werden, ob ein Pkw-Kauf tatsächlich notwendig ist. Dabei ist
                insbesondere zu prüfen, ob der Mobilitätsbedarf (teilweise) mit folgenden Alternativen zum Pkw-Kauf
                gedeckt werden kann:
              </p>
              <ul>
                <li>ÖPNV bzw. Bahn/Fernbus</li>
                <li>(Elektro-)Fahrrad/Lastenrad</li>
                <li>Gemeinsame Nutzung vorhandener Pkw (Car-Pooling)</li>
                <li>Nutzung von Pkw eines Car-Sharing-Anbieters</li>
                <li>Mietwagen für einzelne Strecken</li>
              </ul>
              <p>
                Solche Vorüberlegungen bezüglich der Bedarfsermittlung sind z.B. im Land Berlin verpflichtend zu
                dokumentieren.
              </p>
              <p>
                Sie können sich auch zuerst die Zeit nehmen, die Infoboxen auf der rechten Seite zu erkunden.
              </p>
            </section>

          </cdk-step>


          <cdk-step label="Angaben">

            <hr class="mt-1">
            <section class="p-2">

              <h2 class="mat-h1">Mobilitätsbedarf</h2>
              <p>
                Der folgende Teil beschäftigt sich mit den Fragen, wie der Mobilitätsbedarf gedeckt werden kann und ob
                alle Pkw-Beschaffungen tatsächlich notwendig sind. Solche Vorüberlegungen bezüglich der
                Bedarfsermittlung
                sind z.B. im Land Berlin verpflichtend zu dokumentieren.
              </p>
              <p>
                Die Fragen sollten jeweils für einen Standort bzw. für Zusammenschlüsse von Standorten/Institutionen,
                die
                Fahrzeuge untereinander austauschen/gemeinsam nutzen, beantwortet werden
              </p>

              <h3 class="mat-headline-5">1. Umfang der Pkw-Beschaffung</h3>

              <p>
                Wie viele Pkw sollen beschafft werden?
              </p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Anzahl Pkw</mat-label>
                <input matInput type="number" [ngModel]="grid.cells['Names']['F_B1']"
                       name="F_B1" #F_B1="ngModel" required min="1" step="1"
                       (ngModelChange)="grid.setCell('Names', 'F_B1', F_B1.value)">
              </mat-form-field>

              <p>
                Wie viele Fahrzeuge aus einem vorhandenen Fuhrpark werden durch diese Beschaffung ersetzt?
              </p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Anzahl Fahrzeuge, die ersetzt werden</mat-label>
                <input matInput type="number" [ngModel]="grid.cells['Names']['F_E1']"
                       name="F_E1" #F_E1="ngModel" required min="1" step="1"
                       (ngModelChange)="grid.setCell('Names', 'F_E1', F_E1.value)">
              </mat-form-field>

            </section>

          </cdk-step>


          <cdk-step label="Angaben">

            <hr class="mt-1">
            <section class="p-2">

              <h3 class="mat-headline-5">2. Alternativen zum Pkw-Kauf</h3>
              <p>
                Wie oft können die geplanten Strecken/Einsatzzwecke mit folgenden Verkehrsmitteln erledigt werden?
              </p>
              <p>
                Bedenken Sie bei der Beantwortung der Frage zu den Substitutionsmöglichkeiten, dass die abgefragten
                Optionen auch kombiniert werden können (z.B. Fahrrad und ÖPNV).
              </p>
              <p>
                Eine Analyse der bisherigen Nutzung des Fuhrparks kann bei der Beantwortung der
                Frage helfen.
              </p>

              <div class="row">

                <div class="col-auto">
                  <h5 class="mat-body">Öffentliche Verkehrsmittel</h5>
                  <mat-form-field appearance="outline">
                    <mat-label>Häufigkeit der Nutzung</mat-label>
                    <mat-select [ngModel]="grid.cells['Names']['F_BF1']" name="F_BF1" #F_BF1="ngModel" required
                                (ngModelChange)="grid.setCell('Names', 'F_BF1', F_BF1.value)">
                      <mat-option
                        *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV2'], grid.cells['Names']['A_SV3']]"
                        [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-auto">
                  <h5 class="mat-body">Fahrrad</h5>
                  <mat-form-field appearance="outline">
                    <mat-label>Häufigkeit der Nutzung</mat-label>
                    <mat-select [ngModel]="grid.cells['Names']['F_FL1']" name="F_FL1" #F_FL1="ngModel" required
                                (ngModelChange)="grid.setCell('Names', 'F_FL1', F_FL1.value)">
                      <mat-option
                        *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV2'], grid.cells['Names']['A_SV3']]"
                        [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>


              <h5 class="mat-body">PKW</h5>

              <h6 class="mat-body">Pooling</h6>
              <mat-form-field appearance="outline">
                <mat-label>Häufigkeit der Nutzung</mat-label>
                <mat-select [ngModel]="grid.cells['Names']['F_CP1']" name="F_CP1" #F_CP1="ngModel" required
                            (ngModelChange)="grid.setCell('Names', 'F_CP1', F_CP1.value)">
                  <mat-option
                    *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV2'], grid.cells['Names']['A_SV3']]"
                    [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <h6 class="mat-body">Sharing</h6>
              <mat-form-field appearance="outline">
                <mat-label>Häufigkeit der Nutzung</mat-label>
                <mat-select [ngModel]="grid.cells['Names']['F_CS1']" name="F_CS1" #F_CS1="ngModel" required
                            (ngModelChange)="grid.setCell('Names', 'F_CS1', F_CS1.value)">
                  <mat-option
                    *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV2'], grid.cells['Names']['A_SV3']]"
                    [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <h6 class="mat-body">Mieten</h6>
              <mat-form-field appearance="outline">
                <mat-label>Häufigkeit der Nutzung</mat-label>
                <mat-select [ngModel]="grid.cells['Names']['F_M1']" name="F_M1" #F_M1="ngModel" required
                            (ngModelChange)="grid.setCell('Names', 'F_M1', F_M1.value)">
                  <mat-option
                    *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV2'], grid.cells['Names']['A_SV3']]"
                    [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </section>

          </cdk-step>


          <cdk-step label="Angaben">

            <hr class="mt-1">
            <section class="p-2">

              <h3 class="mat-headline-5">3. Verkleinerung des Fuhrparks</h3>
              <p>
                Die folgende Frage bezieht sich auf Ihre Einschätzung, nachdem Sie die Vorüberlegungen zur
                Flottenbeschaffung durchgegangen sind:
              </p>
              <p>
                Auf wie viele der ursprünglich zu beschaffenden Pkw kann durch eine optimale Ausnutzung des Fuhrparks
                und
                die Kombination mit anderen Verkehrsmitteln verzichtet werden?
              </p>

              <mat-form-field appearance="outline" class="d-flex mx-auto w-75">
                <mat-label>Anzahl Pkw</mat-label>
                <input matInput type="number" [ngModel]="grid.cells['Names']['F_E2']"
                       name="F_E2" #F_E2="ngModel" required min="0" step="1"
                       (ngModelChange)="grid.setCell('Names', 'F_E2', F_E2.value)">
              </mat-form-field>

              <mat-card class="bg-light mb-1" appearance="outlined">
                <mat-card-content>
                  <p>
                    Für die verbleibenden Pkw nutzen Sie bitte den Tooleinstieg "Empfehlungen" zur
                    Pkw-Beschaffung.
                  </p>
                  <p>
                    Sollte der Einsatzzweck für alle zu beschaffenden Pkw gleich sein, können die
                    resultierenden Empfehlungen für die komplette Ausschreibung übernommen werden. Bei sich
                    deutlich unterscheidenden Einsatzzwecken sollten die Abfragen pro Einsatzzweck bearbeitet
                    werden.
                  </p>
                  <div class="text-center">
                    <a mat-stroked-button color="primary" routerLink="/empfehlungen">
                      Empfehlungen
                    </a>
                  </div>
                </mat-card-content>
              </mat-card>

            </section>

          </cdk-step>


        </app-custom-stepper>

      </form>

      <!-- Results -->
      <div class="col-6 d-flex flex-column justify-content-start align-items-stretch">

        <!-- Übersichtsgrafik -->
        <h4 *ngIf="stepper.selectedIndex == 0"
            class="mat-headline-6 me-2 align-self-end text-uppercase">
          Übersichtsgrafik
        </h4>
        <mat-card
          *ngIf="stepper.selectedIndex == 0"
          class="mat-mdc-elevation-specific mat-elevation-z8"
          style="
  inset: 3.7rem -1rem -1rem 50%;
  position: absolute;
  background-color: var(--bs-light);
  overflow: auto;
  max-height: 863px;
  overflow: auto;
  z-index: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
">
          <app-uebersichtsgrafik></app-uebersichtsgrafik>
        </mat-card>

        <!-- Dokumentation -->
        <h4 *ngIf="stepper.selectedIndex != 0"
            style="height: 40px"
            class="mat-headline-6 me-2 align-self-end text-uppercase m-0">
          Dokumentation
        </h4>
        <hr class="mt-1">

        <div class="vstack gap-2">

          <mat-card appearance="outlined"
                    class="bg-light"
                    [class.mat-card-inactive]="!grid.getCell('Fragen_Prototyp_Flotte', 'B16')"
          >
            <mat-card-header>
              <mat-card-title class="mat-h1">
                1. Umfang der Pkw-Beschaffung
              </mat-card-title>
            </mat-card-header>
            <mat-card-content [class.invisible]="!grid.getCell('Fragen_Prototyp_Flotte', 'B16')">
              <p class="ps-4">
                {{grid.getCell('Fragen_Prototyp_Flotte', 'B16')}}
                <strong class="text-secondary">{{grid.getCell('Fragen_Prototyp_Flotte', 'E16')}}</strong>
                {{grid.getCell('Fragen_Prototyp_Flotte', 'F16')}}
                <em
                  class="text-secondary fst-normal fs-4">{{grid.getCell('Fragen_Prototyp_Flotte', 'G16')|percent}}</em>
                <!--{{grid.getCell('Fragen_Prototyp_Flotte', 'H16')}}-->
              </p>
              <p class="ps-4">
                {{grid.getCell('Fragen_Prototyp_Flotte', 'B17')}}
              </p>
              <p class="ps-4">
                Bitte überlegen Sie mithilfe der nächsten Frage, ob der Fuhrpark noch weiter verkleinert werden kann.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined"
                    class="bg-light"
                    [class.mat-card-inactive]="!grid.getCell('Darstellung_Flotte', 'D11')"
          >
            <mat-card-header>
              <mat-card-title class="mat-h1">
                2. Alternativen zum Pkw-Kauf
              </mat-card-title>
            </mat-card-header>
            <mat-card-content [class.invisible]="!grid.getCell('Darstellung_Flotte', 'D11')">
              <!-- Matrix -->

              <div class="grid mb-3">
                <div class="legend text-dark fw-bold text-uppercase small">Umweltvorteil</div>
                <div class="subtitle text-muted text-uppercase small"><span>aus Umweltsicht vor Pkw zu bevorzogen</span>
                </div>
                <app-arrow class="up-arrow text-primary p-3 ps-2" direction="up" style="height: 80%"></app-arrow>

                <div class="A1 bg-white border border-1 border-light"></div>
                <div class="B1 bg-white border border-1 border-light"></div>
                <div class="C1 bg-white border border-1 border-light"></div>
                <div class="A2 bg-white border border-1 border-light"></div>
                <div class="B2 bg-white border border-1 border-light"></div>
                <div class="C2 bg-white border border-1 border-light"></div>

                <app-arrow class="right-arrow text-primary p-3 pb-2" direction="right" style="width: 75%"></app-arrow>

                <div class="freq-rare text-muted text-uppercase small">Fast nie</div>
                <div class="freq-sometimes text-muted text-uppercase small">Ab und Zu</div>
                <div class="freq-regular text-muted text-uppercase small">Regelmäsßig</div>
                <div class="freq-title text-dark fw-bold text-uppercase small">Häufigkeit Substitutionsmöglichkeiten
                </div>

                <svg class="circle oepnv" [style.grid-column]="grid.getCellNumeric('Darstellung_Flotte', 'D15') / 2 + 3"
                     [style.grid-row]="grid.getCellNumeric('Darstellung_Flotte', 'E15')" width="60" height="60">
                  <title>ÖPNV</title>
                  <circle r="27" cx="30" cy="30"></circle>
                </svg>

                <svg class="circle fahrrad"
                     [style.grid-column]="grid.getCellNumeric('Darstellung_Flotte', 'D14') / 2 + 3"
                     [style.grid-row]="grid.getCellNumeric('Darstellung_Flotte', 'E14')" width="40" height="40">
                  <title>Fahrrad</title>
                  <circle r="17" cx="20" cy="20"></circle>
                </svg>

                <svg class="circle pkw-pooling"
                     [style.grid-column]="grid.getCellNumeric('Darstellung_Flotte', 'D13') / 2 + 3"
                     [style.grid-row]="grid.getCellNumeric('Darstellung_Flotte', 'E13')" width="76" height="76">
                  <title>PKW Pooling</title>
                  <circle r="25" cx="38" cy="38"></circle>
                </svg>

                <svg class="circle pkw-sharing"
                     [style.grid-column]="grid.getCellNumeric('Darstellung_Flotte', 'D12') / 2 + 3"
                     [style.grid-row]="grid.getCellNumeric('Darstellung_Flotte', 'E12')" width="60" height="60">
                  <title>PKW Sharing</title>
                  <circle r="27" cx="30" cy="30"></circle>
                </svg>

                <svg class="circle pkw-mieten"
                     [style.grid-column]="grid.getCellNumeric('Darstellung_Flotte', 'D11') / 2 + 3"
                     [style.grid-row]="grid.getCellNumeric('Darstellung_Flotte', 'E11')" width="60" height="60">
                  <title>PKW Mieten</title>
                  <circle r="27" cx="30" cy="30"></circle>
                </svg>

              </div>

              <mat-card appearance="outlined" class="d-inline-flex">
                <mat-card-content class="d-flex flex-row gap-2 py-2 px-3 w-auto">
                  <span class="d-block text-center">
                    <svg class="d-inline-block circle fahrrad" width="12" height="12">
                      <title>Fahrrad</title>
                      <circle r="4" cx="6" cy="6"></circle>
                    </svg>
                    <span class="d-block text-center text-muted small">Fahrrad</span>
                  </span>

                  <span class="d-block text-center">
                    <svg class="d-inline-block circle oepnv" width="12" height="12">
                      <title>ÖPNV/Bahn/Fernbus</title>
                      <circle r="4" cx="6" cy="6"></circle>
                    </svg>
                    <span class="d-block text-center text-muted small">ÖPNV/Bahn/Fernbus</span>
                  </span>

                  <span class="d-block text-center">
                    <svg class="d-inline-block circle pkw-pooling" width="12" height="12">
                      <title>PKW Pooling</title>
                      <circle r="4" cx="6" cy="6"></circle>
                    </svg>
                    <span class="d-block text-center text-muted small">Pooling</span>
                  </span>

                  <span class="d-block text-center">
                    <svg class="d-inline-block circle pkw-sharing" width="12" height="12">
                      <title>PKW Sharing</title>
                      <circle r="4" cx="6" cy="6"></circle>
                    </svg>
                    <span class="d-block text-center text-muted small">Sharing</span>
                  </span>

                  <span class="d-block text-center">
                    <svg class="d-inline-block circle pkw-mieten" width="12" height="12">
                      <title>PKW Mieten</title>
                      <circle r="4" cx="6" cy="6"></circle>
                    </svg>
                    <span class="d-block text-center text-muted small">Mieten</span>
                  </span>
                </mat-card-content>
              </mat-card>


              <!--
              <p class="ps-4">
                Mietwagen:
                {{grid.getCell('Darstellung_Flotte', 'D11')}}
                /
                {{grid.getCell('Darstellung_Flotte', 'E11')}}
              </p>
              <p class="ps-4">
                Car-Sharing:
                {{grid.getCell('Darstellung_Flotte', 'D12')}}
                /
                {{grid.getCell('Darstellung_Flotte', 'E12')}}
              </p>
              <p class="ps-4">
                Car-Pooling:
                {{grid.getCell('Darstellung_Flotte', 'D13')}}
                /
                {{grid.getCell('Darstellung_Flotte', 'E13')}}
              </p>
              <p class="ps-4">
                Fahrrad:
                {{grid.getCell('Darstellung_Flotte', 'D14')}}
                /
                {{grid.getCell('Darstellung_Flotte', 'E14')}}
              </p>
              <p class="ps-4">
                ÖPNV/Bahn/Fernbus:
                {{grid.getCell('Darstellung_Flotte', 'D15')}}
                /
                {{grid.getCell('Darstellung_Flotte', 'E15')}}
              </p>
              -->
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined"
                    class="bg-light"
                    [class.mat-card-inactive]="!grid.getCell('Fragen_Prototyp_Flotte', 'B59')"
          >
            <mat-card-header>
              <mat-card-title class="mat-h1">
                3. Verkleinerung des Fuhrparks
              </mat-card-title>
            </mat-card-header>
            <mat-card-content [class.invisible]="!grid.getCell('Fragen_Prototyp_Flotte', 'B59')">
              <p class="ps-4">
                {{grid.getCell('Fragen_Prototyp_Flotte', 'B59')}}
              </p>
            </mat-card-content>
          </mat-card>

        </div>
      </div>

    </div>

  </mat-card-content>
</mat-card>
