<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/"
     routerLinkActive="mdc-list-item--activated" [routerLinkActiveOptions]="{ exact: true }">
    Startseite
  </a>
  <a mat-menu-item routerLink="/hintergrundinformationen"
     routerLinkActive="mdc-list-item--activated">
    Hintergrundinformationen
  </a>
  <a mat-menu-item routerLink="/vorueberlegungen"
     routerLinkActive="mdc-list-item--activated">
    Vorüberlegungen
  </a>
  <a mat-menu-item routerLink="/empfehlungen"
     routerLinkActive="mdc-list-item--activated">
    Empfehlungen
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item routerLink="/kontakt"
     routerLinkActive="mdc-list-item--activated">
    Kontakt
  </a>
  <a mat-menu-item routerLink="/impressum"
     routerLinkActive="mdc-list-item--activated">
    Impressum
  </a>
  <a mat-menu-item routerLink="/datenschutz"
     routerLinkActive="mdc-list-item--activated">
    Datenschutz
  </a>
</mat-menu>

<span class="visually-hidden"
      routerLink="/"
      routerLinkActive="root-route-is-active"
      [routerLinkActiveOptions]="{ exact: true }"
></span>

<!-- Toolbar -->
<mat-toolbar
  class="position-sticky top-0 flex-shrink-0 fixed-top mx-auto justify-content-end bg-dark text-bg-dark d-print-none">

  <a routerLink="/" id="logo" class="px-1 pe-3">
    <img src="assets/Logo/Logo.svg" alt="" height="40">
  </a>

  <a id="title" class="flex-grow-1 mat-body-2 text-bg-dark text-decoration-none text-truncate" routerLink="/">
    Umweltverträgliche Mobilität für die öffentliche Hand
  </a>

  <button class="text-bg-dark bg-dark bs-40 p-0" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon fontSet="material-symbols-outlined" inline="true" class="opsz-48">menu</mat-icon>
  </button>

</mat-toolbar>

<div class="flex-grow-1 d-flex flex-column bg-dark bg-print-none d-print-block">

  <router-outlet></router-outlet>

</div>
