<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Startseite</a>
      <a mat-list-item routerLink="/hintergrundinformationen">Hintergrundinformationen</a>
      <a mat-list-item routerLink="/vorueberlegungen">Vorüberlegungen</a>
      <a mat-list-item routerLink="/empfehlungen">Empfehlungen</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/kontakt">Kontakt</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="vh-100 d-flex flex-column">

    <!-- Toolbar -->
    <mat-toolbar class="position-sticky top-0 fixed-top">
      <button mat-icon-button aria-label="Menü öffnen…" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span></span>
    </mat-toolbar>


    <div class="container-fluid flex-grow-1 d-flex flex-column">

      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
