<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/oeffentliche_2%202.svg" height="72" alt="ÖPNV">
</p>
<h1>ÖPNV</h1>
<p>
    Vor allem in der Stadt können Wege ohne aufwändige
    Transportanforderungen <b>umweltverträglich</b> mit dem ÖPNV statt
    mit dem Auto zurückgelegt werden. Insbesondere mit einem
    <a [routerLink]="[]" fragment="abo-im-öpnv=1">Abo</a>
    ist
    die Nutzung des ÖPNV zudem deutlich <b>günstiger </b>als
    Autofahren. Gerade im Berufsverkehr mit vielen Staus hat der ÖPNV oft auch einen <b>Zeitvorteil</b>.</p>
<p>
    Auf der Seite der <a target="_blank"
        href="https://www.bahn.de/">Deutschen
    Bahn</a> oder in der App <a target="_blank"
        href="https://www.bahn.de/service/mobile/db-navigator">DB
    Navigator</a> können Sie geplante Strecken
    eingeben und erhalten Informationen zu möglichen
    Verbindungen (Zeiten, Kosten) im ÖPNV.<b> </b>
</p>
