<p class="d-flex gap-3 align-items-center justify-content-start">
  <img src="assets/Infoboxen/fahrrad%201.svg" height="72" alt="Fahrrad">
</p>
<h1>Abo/Leasing eines Fahrrads</h1>
<p>
  Wenn die Akzeptanz eines Fahrrads oder E-Bikes für den
  Diensteinsatz zunächst ausprobiert oder ein Rad nur vorübergehend
  genutzt werden soll, kann es eine Option sein, das Fahrrad zu
  mieten. Inzwischen bieten zehn Anbieter zum Teil deutschlandweit
  sogenannte <b><a>Fahrrad-Abos</a></b> an. Bei
  dem Anbieter Swapfiets kostet ein einfaches Fahrrad monatlich ab
  19,90&nbsp;€. Dabei sind Reparaturen inklusive bzw. wird im
  Schadensfall binnen 48 Stunden ein neues Rad gestellt.
  Fahrrad-Abo-Anbieter in der Übersicht finden Sie hier:
  <a href="https://www.fahrrad-abos.de/" target="_blank">fahrrad-abos.de</a>
</p>

<mat-card appearance="outlined" class="bg-light">
  <mat-card-content>
    <h3>
      <span class="float-end text-center p-2 rounded-circle text-light m-2 mt-n2 me-n2"
            style="background: var(--bs-gray); line-height: 20px">
        <mat-icon class="d-block fs-4 fw-bold" fontSet="none">§</mat-icon>
      </span>
      <b>Jobrad</b>
    </h3>
    <p>
      Seit Oktober 2020 ist die <b>Gehaltsumwandlung (geldwerter Vorteil)
      für Dienstfahrräder</b> auch für Angestellte von Kommunen
      möglich: Die 0,25 %-Regelung, die für vollelektrische Dienst-Pkw
      gilt, kann auch für Dienst-Fahrräder und ebenso für das Leasen
      von E-Bikes angewandt werden. Auf Bundesebene besteht diese
      Möglichkeit noch nicht, auf Landesebene nur in einzelnen
      Bundesländern. Detaillierte Infos finden Sie unter folgenden Links:</p>
    <ul>
      <li>
        <a target="_blank"
           href="https://www.jobrad.org/aktuelles/dienstrad-versteuerung.html"
        >Versteuerung</a>
        von Diensträdern (0,25 %-Regelung)
      </li>
      <li>
        <a target="_blank"
           href="https://www.jobrad.org/arbeitnehmer/ersparnis-berechnen.html">Fahrradleasingrechner</a>
        (Vorteil berechnen)
      </li>
      <li>
        <a target="_blank"
           href="https://www.hamburg.de/pressearchiv-fhh/15023630/2021-04-19-dienstfahrradleasing/">
          Praxisbeispiel Hamburg
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
