<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/fahrrad%201.svg" height="72" alt="Fahrrad">
</p>
<h1>Sharing-Angebote für Fahrräder</h1>
<p>
    Sollte die gemeinsame Nutzung eigener vorhandener Fahrräder
    (Pooling) nicht möglich sein, kann bei einzelnen Fahrten in der
    Stadt die Nutzung eines öffentlichen Sharing-Angebots eine Option sein.</p>
<p>
    Folgender Link führt zu einer <b>Anbieterübersicht</b> in
    verschiedenen Städten in Deutschland: <a target="_blank"
        href="https://www.vdv.de/new-mobility-projekte.aspx#tab-4444">Bike-Sharing</a>.
    Auf der Seite von <a target="_blank"
        href="https://www.fahrrad-xxl.de/blog/bike-sharing-anbieter-in-deutschland-invasion-oder-mobilitaetssegen"
>Fahrrad
    XXL</a> finden Sie zudem detaillierte Infos über
    die verschiedenen Anbieter. Hier sind auch die
    <b>Registrierungsmöglichkeiten, Ausstattung der Fahrräder und
        Kosten</b> dargestellt.
</p>
<p>
    Im Bereich der Mikromobilität können auch <b>E-Scooter</b> eine
    mögliche Option sein. In welchen Städten sie verfügbar sind,
    zeigt z.B. die Website des VDV: <a target="_blank"
        href="https://www.vdv.de/liste-e-scooter.aspx">E-Scooter-Projekte</a>
</p>
