<section class="m-0 p-5 text-bg-light bg-white flex-grow-1 d-flex flex-column d-md-block">

  <header>
    <h1>
      Impressum
    </h1>
  </header>

 <!-- <div class="float-end ms-0 ms-md-2 order-last">
    <p>
      <strong>Programmierung:</strong><br>
      Till Seifert<br>
      <a target="_blank"
         href="https://till.seifert.name">till.seifert.name</a>
    </p>
    <p>
      <strong>User Experience und User Interface Design:</strong><br>
      Susanne Walter<br>
      <a target="_blank"
         href="https://www.suwadesign.de">www.suwadesign.de</a>
    </p>
  </div>-->

  <div>
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>ifeu - Institut für Energie- und Umweltforschung Heidelberg gGmbH<br> Wilckensstraße 3<br> 69120 Heidelberg
    </p>
    <p>Handelsregister: HRB 334263<br> Registergericht: Amtsgericht Mannheim</p>
    <p><strong>Vertreten durch:</strong><br> Vertretungsberechtigte Geschäftsführer:<br> Andreas Detzel,
      Dipl.-Biologe<br>
      Lothar Eisenmann, Dipl.-Physiker<br> Dr. Martin Pehnt, Dipl.-Physiker</p>
    <h2>Kontakt</h2>
    <p>Telefon: +49 (0) 6221 / 47 67 -0<br> Telefax: +49 (0) 6221 / 47 67 -19<br> E-Mail: <a href="mailto:ifeu@ifeu.de">ifeu&#64;ifeu.de</a></p>
    <h2>Programmierung</h2>
    <p>Till Seifert<br>
      <a href="https://till.seifert.name" target="_blank" rel="noopener">till.seifert.name</a>
    </p>
    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br> DE 143446610</p>
    <h2>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.</p>
    <h3>Haftung für Inhalte</h3>
    <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
      Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
      übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf
      eine
      rechtswidrige Tätigkeit hinweisen.</p>
    <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
      bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
      konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
      Inhalte umgehend entfernen.</p>
    <h3>Haftung für Links</h3>
    <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
      Deshalb
      können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
      stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
      Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
      Verlinkung nicht erkennbar.</p>
    <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
      Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
      entfernen.</p>
    <h3>Urheberrecht</h3>
    <p>
      Der <a href="https://www.ifeu.de/gebaeudecheck-waermepumpe" target="_blank" rel="noopener">Gebäudecheck Wärmepumpe</a> © 2025 von Jakob Metz (ifeu), Florian Maiwald (ifeu), Peter Mellwig (ifeu), Till Seifert, Markus Heckmann, Laurenz Hermann (co2online), Julia Gebhard (co2online), Jens Schuberth (UBA) steht unter der Lizenz <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC BY-SA 4.0</a>
      <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em; max-height: 1em; margin-left: .2em;">
      <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em; max-height: 1em; margin-left: .2em;">
      <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="" style="max-width: 1em; max-height: 1em; margin-left: .2em;">
    </p>
    <p><strong>Inhalte Dritter:</strong> Soweit die Inhalte auf dieser Seite nicht vom Betreiber/den Autoren erstellt wurden (z.B. Stockfotos, externe Logos, Zitate), werden die Urheberrechte Dritter beachtet und diese Inhalte sind entsprechend gekennzeichnet oder von der CC-Lizenz ausgenommen.</p>
    <p><strong>Hinweis zu Rechtsverletzungen:</strong> Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

    <h2>Erklärung zur Barrierefreiheit</h2>
    <p>Hier finden Sie unsere <a href="assets/251208_Gebäudecheck_Wärmepumpe_Erklärung zur Barrierefreiheit.pdf" target="_blank" rel="noopener">Erklärung zur Barrierefreiheit (PDF)</a>.</p>
    <p>Die Erklärung enthält Informationen über die Zugänglichkeit der Internetseite bzw. Webanwendung gemäß § 12a Behindertengleichstellungsgesetz.</p>

    <h2>Technische Umsetzung</h2>
    <p>Der „Gebäudecheck Wärmepumpe“ wurde auf Basis von Tabellenberechnungen in Excel mittels TypeScript und Angular als Webanwendung umgesetzt.<p>
    <p>Bei der Entwicklung von Inhalten und Webanwendung wurden punktuell Sprachmodelle (Large Language Modells, LLM) eingesetzt.</p>
  </div>

</section>
