<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/pkw_2%201.svg" height="72" alt="Pkw">
</p>
<h1>Dimensionierung</h1>
<p>
    Neben der Wahl eines kleineren Fahrzeugsegments ist die
    Dimensionierung des <b>Motors</b> und bei E-Autos zusätzlich die
    Dimensionierung der <b>Batterie</b> entscheidend. Das Potential,
    Umweltauswirkungen zu mindern, ist hier besonders groß.</p>
<p>
    Hinweise zur <b>Batteriegröße </b>von E-Autos finden Sie z.B. auf
    den Seiten des <a
        href="https://www.adac.de/rund-ums-fahrzeug/elektromobilitaet/kaufen/elektroauto-batterie-groesse/"
>ADAC</a>
    und der <a
        href="https://www.enbw.com/blog/elektromobilitaet/laden/wie-gross-muss-die-batterie-fuer-mein-elektroauto-sein/"
>EnBW</a>.</p>
<p>
    Bei der Antriebsdimensionierung von Verbrenner-Pkw sollten
    grundsätzlich die Modellvarianten mit der kleinsten Motorisierung
    gewählt werden, da diese auch den niedrigsten Kraftstoffverbrauch
    aufweisen. Die <b>Motorleistung</b> alleine lässt dabei keinen
    Rückschluss auf die Fahrdynamik im Alltag zu, da sie in
    Zusammenhang mit dem maximalen Drehmoment und der Drehzahl gesehen
    werden muss. Wenn ein Fahrzeug schon bei niedriger Drehzahl ein
    hohes Drehmoment erreicht, kann es effektiv und kraftstoffsparend
    gefahren werden.
</p>
<p>
    <b>Elektromotoren</b> haben von Anfang an ihr maximales Drehmoment,
    sodass E-Autos standardmäßig auch bei vergleichsweise geringen
    Motorleistungen aus dem Stand gut beschleunigen.</p>
