<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/fahrrad%201.svg" height="72" alt="Fahrrad">
</p>
<h1>(E-)Lastenrad</h1>
<p>
    Lastenräder können im innerstädtischen Verkehr mittelgroße
    Transporte mit dem Pkw ersetzen. Die Modellvielfalt wächst stetig,
    sodass für jeden Einsatzzweck die geeignete Ausstattung gewählt
    werden kann. Die Räder bieten dabei eine Nutzlast von über 80 kg
    (exklusive Fahrer*in (75 kg)), einzelne Modelle auch deutlich
    über 100 kg.</p>
<p>
    Seit 2016 tourt die <a
        href="https://cargobikeroadshow.org/">Cargobike
    Roadshow</a> durch zahlreiche Städte und gibt
    interessierten Personen unverbindlich die Möglichkeit,
    verschiedenste Lastenräder Probe zu fahren.</p>
<p>
    Das <a
        href="https://www.bafa.de/DE/Energie/Energieeffizienz/E-Lastenfahrrad/e-lastenfahrrad_node.html"
>BAFA</a>
    fördert die Anschaffung von Lastenfahrrädern durch private
    Unternehmen, Kommunen, Körperschaften sowie Vereine und Verbände
    mit 25 % der Anschaffungskosten (max. 2.500 Euro).
</p>
<p>
    Auf den folgenden Seiten können Sie sich einen Überblick über
    Lastenräder auf dem Markt verschaffen:
</p>
<ul>
    <li>
        Suchportal für Lastenräder (<a
            href="https://cargobike.guide/">cargobike.guide</a>)
    <li>
        Elektro-Lastenräder im Vergleich (<a
            href="https://www.adac.de/rund-ums-fahrzeug/tests/fahrrad/e-lastenfahrrad/"
    >ADAC</a>)
</ul>
