<p class="d-flex gap-3 align-items-center justify-content-start">
  <img src="assets/Infoboxen/pkw_2%201.svg" height="72" alt="Pkw">
</p>
<h1>Antriebsart</h1>
<section class="multicolumn-md-2">
  <p>
    Die öffentliche Beschaffung von Fahrzeugen soll konsequent auf <b>emissionsarme Fahrzeuge</b> umgestellt werden.
    Deshalb
    sollen Fahrzeuge mit einem vollelektrischen Antrieb (<b>BEV - batterieelektrisches Fahrzeug</b>) bevorzugt beschafft
    werden. Nur in Ausnahmefällen - z.B. wenn für den Einsatzzweck keine E-Fahrzeuge geeignet oder die Kosten nicht
    vertretbar sind - sollen Fahrzeuge mit Verbrennungsmotoren eingesetzt werden. Dabei sind die Vorgaben zum
    CO2-Ausstoß sowie zu Luftschadstoffen zu berücksichtigen (siehe hier für Vorschläge zu Umweltanforderungen).
  <p>
    Ein BEV hat je nach Lebensfahrleistung einen Klimavorteil von 30 – 40 % gegenüber konventionellen Fahrzeugen. Da der
    Anteil
    erneuerbarer Energien an der Stromerzeugung stetig wächst, wird
    dieser Vorteil weiter zunehmen. Trotz der hauptsächlich durch die
    Batterie bedingten höheren Herstellungsemissionen hat ein bereits
    im Jahr 2020 zugelassenes Elektrofahrzeug der Kompaktklasse bei
    gleicher Nutzungsintensität gegenüber einem Benziner ab gut 4
    Jahren, gegenüber Erdgas und Diesel ab etwa 5,5 Jahren einen
    Klimavorteil. Gegenüber anderen potentiell klimafreundlichen
    Antrieben besteht ein deutlicher <b>Effizienzvorteil</b>: Für
    strombasierten Wasserstoff oder synthetischen Kraftstoff würde für
    die gleiche Fahrtstrecke ein Vielfaches an erneuerbarem Strom
    benötigt. (<a
    href="https://www.bmuv.de/fileadmin/Daten_BMU/Download_PDF/Verkehr/emob_klimabilanz_bf.pdf"
  >Kämper
    et al. 2020</a>)
  </p>

  <mat-card appearance="outlined" class="bg-100-blues mb-3">
    <mat-card-content>
      <p>
        <span class="float-end text-center p-2 rounded-circle text-light m-2 mt-n2 me-n2"
              style="background: var(--bs-gray)">
          <mat-icon class="d-block fs-4 fw-bold" fontSet="none">§</mat-icon>
        </span>
        <b>Rechtlicher Hinweis</b>
      </p>
      <p>
        Das <a target="_blank"
               href="https://www.bmvi.de/SharedDocs/DE/Artikel/G/clean-vehicles-directive.html">SaubFahrzeugBeschG</a>
        gibt seit dem 02.08.2021 eine <b>Quote</b> von 38,5 %
        emissionsarmer Pkw bei der öffentlichen Beschaffung vor.
        Darüber hinaus bestehen eigene Vorgaben der Länder wie z.B. das Land
        <a target="_blank"
           href="https://www.thm.de/site/images/planung/Landtagsdrucksachen/2021/upup/DS_20_3892_Nachhaltige_Mobilitt_Antwort_HMdF.pdf"
        >Hessen</a>,
        das für die Landesverwaltung eine Quote von 50 % E-Autos in der Beschaffung vorschreibt, und das Land Berlin,
        das den Kauf von E-Fahrzeugen als Priorität setzt.</p>
    </mat-card-content>
  </mat-card>


  <p>
    Neben den Infoboxen auf dieser Website finden Sie weitere
    detaillierte Informationen zur Umstellung der Flotte auf
    batterieelektrische Antriebe im
    <a href="https://efleetguide.de/" target="_blank">eFleet Guide</a>.
  </p>

  <mat-card appearance="outlined" class="bg-300-blues mb-3">
    <mat-card-content>
      <p>
        <b>Antriebsvergleich – Webtools</b></p>
      <p>
        Auf der Seite von <a target="_blank"
                             href="https://www.alternativ-mobil.info/alternative-antriebe/vergleich-alternative-antriebe"
      >Alternativ
        Mobil</a> können Pkw je Fahrzeugsegment bezüglich
        der Reichweite, Emissionen und Kosten verglichen werden. Die
        Emissionen der Fahrzeugherstellung werden allerdings nicht
        berücksichtigt.</p>
      <p>
        Anders ist dies beim Ökobilanz-Tool von <a
        href="https://www.greenncap.com/lca-german.php">Green
        NCAP</a>. Hier werden alle Treibhausgas-Emissionen
        über den gesamten Lebenszyklus berechnet und dabei auch die
        Entwicklung des Strommixes über die Lebensdauer berücksichtigt.
        Ein Vergleich mithilfe des Tools am Beispiel der Golfklasse ist auf
        der Seite des <a target="_blank"
                         href="https://www.adac.de/verkehr/tanken-kraftstoff-antrieb/alternative-antriebe/klimabilanz/#neu-die-interaktive-lca-plattform"
      >ADAC</a>
        zu sehen.</p>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="bg-200-blues mb-3">
    <mat-card-content>
      <p>
        <b>Die Problematik der PHEV</b></p>
      <p>
        Plug-in-Hybride (<b>PHEV</b>) können eine emissionsarme Alternative
        zum Verbrenner sein. Dies gilt allerdings nur, wenn in der Praxis ein <b>hoher
        elektrischer Fahranteil</b> erzielt wird (über 70 %)
        (<a target="_blank"
            href="https://www.compan-e.de/wp-content/uploads/2022/08/compan-e_CarPolicy.pdf">Agora
        Verkehrswende und Öko-Institut 2022</a>). Da dies
        gerade bei Dienstwagen häufig nicht der Fall ist
        (<a target="_blank"
            href="https://theicct.org/wp-content/uploads/2022/06/real-world-phev-use-jun22-1.pdf">Plötz
        et al. 2022</a>;
        <a target="_blank"
           href="https://www.transportenvironment.org/discover/neue-tests-zeigen-bmw-plug-in-hybrid-weit-umweltschadlicher-als-angegeben/"
        >T&amp;E
          2023</a>), sind PHEV aus Umweltsicht selten besser
        als sparsame Verbrenner. Zudem werden PHEV vor allem in höheren Fahrzeugsegmenten angeboten - kleinere Fahrzeuge
        sind aber deutlich umweltschonender.</p>
      <p>
        PHEV sind deshalb nur zu empfehlen, wenn ohnehin ein großes Fahrzeug benötigt wird und ein hoher elektrischer
        Fahranteil durch <b>regelmäßiges Laden</b> gewährleistet werden kann. Bei guter Verfügbarkeit von
        Ladeinfrastruktur hat
        ein vollelektrischer Pkw (BEV) jedoch ebenfalls keine Reichweitennachteile und ist umweltverträglicher und oft
        günstiger als ein PHEV.</p>
    </mat-card-content>
  </mat-card>

</section>
