<h1>Mobilitätsbudget</h1>
<p>
  Das Mobilitätsbudget ist ein monatlicher vom Arbeitgeber bezahlter Betrag, den Arbeitnehmende für ihre private oder
  dienstliche Mobilität einsetzen können.
</p>
<p>
    Da der Betrag nicht an einen Dienstwagen geknüpft ist, bietet
    dieser Ansatz bei entsprechender Ausgestaltung (z.B. Anreizsystem
    für öffentliche Verkehrsmittel und Fahrrad) ein großes Potential
    für umweltverträgliche Mobilität.
</p>
<p>
    Weiterführende Informationen finden Sie auf den Seiten des <a target="_blank"
        href="https://www.vcd.org/artikel/mobilitaetsbudget-statt-dienstwagen"
>VCD</a>
    und des Projekts <a target="_blank"
        href="https://www.compan-e.de/mobilitaetsbudget/">Compan-e</a>.
</p>
