<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/pkw_2%201.svg" height="72" alt="Pkw">
</p>
<h1>Car-Pooling</h1>
<p>
    Die gemeinsame Nutzung vorhandener Pkw aus dem Fuhrpark ist umweltverträglicher als
    eine Neuanschaffung. Dazu bedarf es einer Abstimmung innerhalb der
    eigenen Abteilung/Einrichtung oder mit einer anderen benachbarten
    Einrichtung mit Fuhrpark. Um zu klären, ob ein sogenanntes
    Car-Pooling möglich ist, können Sie das <b>Fuhrparkmanagement</b>
    mit folgenden Fragen kontaktieren:</p>
<ul>
    <li>
        Welche Fahrzeuge stehen aktuell zur Verfügung?
    </li>
    <li>
        Für welche Fahrzwecke werden die Fahrzeuge derzeit verwendet?
    </li>
    <li>
        Wie ist der Fuhrpark ausgelastet?
    </li>
</ul>
<p>
  Ein <b>Praxisbeispiel</b> für Car-Pooling ist das Projekt
    <a target="_blank"
     href="https://durchstarterset-elektromobilität.de/praxisbeispiele/smart-efleets-gemeinsame-elektrische-flotte-fuer-5-kommunale-unternehmen/">Smart eFleets</a>.
  In diesem Projekt wurde bei großen Berliner Ver- und Entsorgungsunternehmen
  die unternehmensübergreifende Nutzung von elektrischen Poolfahrzeugen getestet.
  Auch die Ladeinfrastruktur wurde dabei gemeinsam genutzt.
</p>
