<p class="d-flex gap-3 align-items-center justify-content-start">
  <img src="assets/Infoboxen/pkw_2%201.svg" height="72" alt="Pkw">
</p>
<h1>Fahrzeugsegment</h1>
<p>
  Durch die Wahl eines kleineren Fahrzeugsegments können
  Umweltauswirkungen stark gemindert werden. Es ist daher wichtig,
  eine Überdimensionierung zu verhindern.</p>
<p>
  Ein Beispiel für die erheblichen Unterschiede zwischen den
  Fahrzeugsegmenten: Bei Verbrennern erzeugt ein Pkw der Oberklasse
  über den gesamten Lebenszyklus fast 30&nbsp;% mehr <b>CO</b><sub><b>2</b></sub><b>-Emissionen</b>
  als ein Kleinwagen. Bei E-Autos ist der Unterschied zwischen
  Kleinwagen und Oberklasse sogar noch deutlicher – pro gefahrenem
  Kilometer können sich die CO<sub>2</sub>-Emissionen über den
  Lebensweg verdoppeln. Auch beim <b>Ressourcenverbrauch</b> gibt es
  große Unterschiede: Durchschnittlich wiegt die Oberklasse bei einem
  Verbrenner-Pkw ca. 50&nbsp;% mehr als ein Kleinwagen. Bei E-Pkw ist
  es vor allem die Batterie – für die Batterieherstellung werden
  bei einem Elektro-SUV rund 25&nbsp;% mehr kritische Rohstoffe wie
  Lithium, Nickel und Kobalt benötigt als bei einer Kompaktklasse.
  (<a
  href="https://vcoe.at/files/vcoe/uploads/News/VCOe-Factsheets/2022/Kreislaufwirtschaft%20in%20der%20Mobilit%C3%A4t%20umsetzen/VC%C3%96-Factsheet%20Kreislaufwirtschaft%20in%20der%20Mobilit%C3%A4t%20umsetzen.pdf"
>Mosshammer
  2022</a>)
</p>
<p>
  Die Fahrzeugsegmente nach Kraftfahrt-Bundesamt (KBA) lauten (an der
  <b>Fahrzeuggröße</b>
  orientiert):
</p>
<ul>
  <li>
    Kleinstwagen
  </li>
  <li>
    Kleinwagen
  </li>
  <li>
    Kompaktklasse (Untere Mittelklasse)
  </li>
  <li>
    Mittelklasse
  </li>
  <li>
    Obere Mittelklasse (ggf. nur für Leitungsebene)
  </li>
  <li>
    Oberklasse (nicht angemessen für die öffentliche Beschaffung)
  </li>
</ul>
<p>
  Zudem gibt es Einteilungen nach <b>Verwendungsart</b> bzw.
  Fahrzeugart und -aufbau wie z.B. Vans und Utilities (Hochdachkombis,
  Kleinbusse und Pick-ups, die als Pkw zugelassen sind).</p>
<p>
  Gerade wenn meistens nur 1 bis 2 Personen zusammenfahren und keine
  großen Gegenstände befördert werden sollen, reichen Kleinst- und
  Kleinwagen vollkommen aus. Falls regelmäßig mehrere Personen
  mitgenommen werden, gibt es ab der unteren Mittelklasse
  (Kompaktklasse) zahlreiche Autos mit viel Platz auf der Rückbank.
  Eine Übersicht hierzu ist beim <a
  href="https://www.adac.de/rund-ums-fahrzeug/auto-kaufen-verkaufen/kauftipps/autos-viel-platz-rueckbank/"
>ADAC</a>
  zu finden.</p>
<p>
  <b>Beispiele pro Fahrzeugsegment</b></p>
<table class="table">
  <thead>
  <tr>
    <td>

      <b>Fahrzeugsegment</b>
    </td>
    <td>

      <b>Fahrzeugmodell</b>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>

      Kleinstwagen
    </td>
    <td>

      Fiat 500, Renault Twingo
    </td>
  </tr>


  <tr>
    <td>

      Kleinwagen
    </td>
    <td>

      Opel Corsa, Renault Zoe
    </td>
  </tr>


  <tr>
    <td>

      Kompaktklasse (Untere Mittelklasse)
    </td>
    <td>

      VW ID.3, VW Golf, Opel Astra
    </td>
  </tr>


  <tr>
    <td>

      Mittelklasse
    </td>
    <td>

      VW ID.4, BMW 3er, Audi A4
    </td>
  </tr>


  <tr>
    <td>

      Obere Mittelklasse
    </td>
    <td>

      Mercedes E-Klasse, Audi A6
    </td>
  </tr>
  </tbody>
</table>
