<h1>Umweltanforderungen</h1>

<p class="alert alert-danger">
  Bisher sind diese Vorgaben in keinem Bundesland verbindlich,
  sondern stellen einen Vorschlag dar, der im Projekt entwickelt wurde.
</p>

<mat-card appearance="outlined" class="bg-100-blues mb-3">
  <mat-card-content>
    <p>
      <span class="float-end text-center p-2 rounded-circle text-light m-2 mt-n2 me-n2"
            style="background: var(--bs-gray)">
        <mat-icon class="d-block fs-4 fw-bold" fontSet="none">§</mat-icon>
      </span>
      <b>Rechtlicher Hinweis</b>
    </p>
    <section style="column-count: 2">
      <p>
        Den rechtlichen Rahmen gibt das SaubFahrzeugBeschG vor. Es
        fordert eine <strong>Quote</strong> von 38,5 % für die Beschaffung emissionsarmer,
        „sauberer“ Fahrzeuge. Als <strong>„sauber“</strong> gelten dabei Pkw, die max.
        50 g CO₂/km und nur 80 % der nach Abgasnorm vorgeschriebenen
        Grenzwerte für Luftschadstoffe ausstoßen.
      </p>
      <p>
        Ab 2026 darf ein „sauberer“ Pkw gar kein CO₂ mehr ausstoßen,
        womit nur noch rein batterieelektrische Pkw (BEV) die Quote
        erfüllen können.
      </p>
      <p style="break-inside: avoid-column;">
        Die <strong>in dieser Übersicht gelisteten Umweltanforderungen</strong> für die
        Ausschreibung von Pkw <strong>gelten zusätzlich</strong> zu den Anforderungen
        des SaubFahrzeugBeschG, da sie teilweise darüber hinausgehen
        (z.B. der CO₂-Grenzwert für PHEV oder der Grenzwert für den
        Energieverbrauch von E-Autos). Zudem werden hier weitere
        Grenzwerte für alle Fahrzeuge, die nicht unter die Quote fallen,
        vorgegeben (z.B. CO₂-Grenzwerte für Verbrenner).
      </p>
      <p>
        Bisher sind diese Vorgaben in keinem Bundesland verbindlich,
        sondern stellen einen Vorschlag dar, der im Projekt <a
        href="https://www.ifeu.de/projekt/beschaffung-pkw/">„Entwicklung
        von Instrumenten für die umweltverträgliche Beschaffung von Pkw
        durch öffentliche Stellen“</a> entwickelt wurde.
      </p>
    </section>
  </mat-card-content>
</mat-card>

<div class="overflow-hidden rounded-3 border-1 border mb-3">
  <table class="table table-bordered align-middle m-0">
    <thead class="table-dark">
    <tr>
      <th class="text-uppercase">Kategorie</th>
      <th class="text-uppercase">Antriebsart</th>
      <th class="text-uppercase">Anforderungen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="3">CO₂-Emissionen (WLTP)</td>
      <td>Verbrenner</td>
      <td>120 g/km</td>
    </tr>
    <tr>

      <td>Verbrenner - Vans/Utilities</td>
      <td>130 g/km</td>
    </tr>
    <tr>

      <td>PHEV</td>
      <td>40 g/km</td>
    </tr>
    <tr>
      <td>NO<sub>x</sub>-Emissionen (WLTP)</td>
      <td rowspan="2">Verbrenner und PHEV</td>
      <td rowspan="2">80 % der Emissionsgrenzwerte<sup>1</sup> (RDE) der aktuell gültigen Abgasnorm</td>
    </tr>
    <tr>
      <td>Partikelzahl (PN)</td>
    </tr>
    <tr>
      <td rowspan="2">Energieverbrauch</td>
      <td>BEV</td>
      <td>19 kWh/100 km</td>
    </tr>
    <tr>
      <td>BEV - Vans/Utilities</td>
      <td>21 kWh/100 km</td>
    </tr>
    <tr>
      <td>Batteriegarantie</td>
      <td>BEV und PHEV</td>
      <td>8 Jahre oder 160.000 km bei ≥ 70 % der ursprünglichen Kapazität
      </td>
    </tr>
    <tr>
      <td>Elektrische Mindestreichweite (WLTP)</td>
      <td>PHEV</td>
      <td>60 km</td>
    </tr>
    <tr>
      <td>Fahrgeräuschemissionen</td>
      <td>Alle Antriebsarten</td>
      <td>68 dB(A)</td>
    </tr>
    </tbody>
    <tfoot class="small">
    <tr>
      <td colspan="3">
        <sup>1</sup> Vorgaben werden in der Regel von Fahrzeugen der aktuellen Abgasnorm eingehalten
        <br>Erläuterungen: Verbrenner = Erdgas, Diesel, Benziner; PHEV = Plug-in-Hybride; BEV = Batterieelektrische Pkw
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<div class="grid align-items-stretch">
  <mat-card class="g-col-6" appearance="outlined">
    <mat-card-content>
      <h1>Zuschlagkriterien</h1>

      <p class="fw-bold">
        Zusatzpunkte über Vergleich unter Angeboten:
      </p>
      <dl class="grid gap-2 align-middle" style="--bs-columns:12">
        <dt class="g-col-1">
          <mat-icon color="accent">check</mat-icon>
        </dt>
        <dd class="g-col-11">
          Erweiterte Batteriegarantie (für BEV/PHEV)
        </dd>
        <dt class="g-col-1">
          <mat-icon color="accent">check</mat-icon>
        </dt>
        <dd class="g-col-11">
          Geringere Fahrgeräuschemissionen des Fahrzeugs
        </dd>
      </dl>

      <p class="fw-bold">
        Zusatzpunkte, wenn vorhanden:
      </p>
      <dl class="grid gap-2 align-middle" style="--bs-columns:12">
        <dt class="g-col-1">
          <mat-icon color="accent">check</mat-icon>
        </dt>
        <dd class="g-col-11">
          Geschwindigkeitsbegrenzer
        </dd>
        <dt class="g-col-1">
          <mat-icon color="accent">check</mat-icon>
        </dt>
        <dd class="g-col-11">
          Anzeige des Energieverbrauchs beim Fahren
        </dd>
        <dt class="g-col-1">
          <mat-icon color="accent">check</mat-icon>
        </dt>
        <dd class="g-col-11">
          Routenoptimierung und Verkehrsinformationen (Navi-Option)
        </dd>
        <dt class="g-col-1">
          <mat-icon color="accent">check</mat-icon>
        </dt>
        <dd class="g-col-11">
          LED-Scheinwerfer
          <ul class="mb-0 ps-3">
            <li class="my-2">Effizienter und durch die bessere Ausleuchtung auch sicherer als Halogenlampen</li>
          </ul>
        </dd>
        <dt class="g-col-1">
          <mat-icon color="accent">check</mat-icon>
        </dt>
        <dd class="g-col-11">
          Wärmepumpe (bei Elektro-Pkw)
          <ul class="mb-0 ps-3">
            <li class="my-2">Reduziert den Strombedarf zum Heizen</li>
          </ul>
        </dd>
      </dl>
    </mat-card-content>
  </mat-card>

  <mat-card class="g-col-6" appearance="outlined">
    <mat-card-content>
      <h1>Umgang mit Sonderausstattung</h1>

      <p>
        Auf <strong>Sonderausstattungen</strong>, die keinen Sicherheits- oder
        Komfortvorteil haben, sondern ausschließlich der <strong>Optik</strong> dienen,
        sollte bei einer Pkw-Beschaffung verzichtet werden.
      </p>
      <dl class="grid gap-2 align-middle" style="--bs-columns:12">
        <dt class="g-col-1">
          <mat-icon>add</mat-icon>
        </dt>
        <dd class="g-col-11">
          Einsatz von <strong>edlen Materialien in der
          Innenraumverkleidung</strong> wie z.B.:
          <ul class="mb-0 ps-3">
            <li class="my-2">Kohlefaser (Carbon)</li>
            <li class="my-2">Edelhölzer</li>
            <li class="my-2">Edelmetalle</li>
          </ul>
        </dd>

        <dt class="g-col-1">
          <mat-icon>add</mat-icon>
        </dt>
        <dd class="g-col-11">
          <strong>(Panorama-)Glasdach</strong>
          <p class="my-2">
            Negativer Einfluss auf die Fahrzeugisolation und damit
            (insbesondere bei E-Autos mit weniger Motorabwärme)
            auf den Heizbedarf
          </p>
        </dd>
      </dl>
    </mat-card-content>
  </mat-card>
</div>
