// Active nav state when sections are targeted
$sections: 'rooms', 'nt-readiness', 'radiators', 'envelope';

@each $section in $sections {
  :host:has(##{$section}-section:target) .nav-link[fragment="#{$section}-section"] {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
  }
}

// Room dashboard styling
.room-dashboard-card {
  h3 {
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--bs-border-color-translucent);
  }

  .value-box {
    font-weight: 600;
    min-width: 150px;
    text-align: center;
    color: white;
  }
}


// Icon colors
.icon-success {
  color: var(--bs-success);
}

.icon-warning {
  color: var(--bs-warning);
}

.icon-danger {
  color: var(--bs-danger);
}
