<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/oeffentliche_2%202.svg" height="72" alt="ÖPNV">
</p>
<h1>Öffentliche Verkehrsmittel</h1>
<p>
    Die Nutzung von Bus und Bahn etc. ist sowohl im Nah- als auch im
    Fernverkehr eine <b>umweltverträgliche</b> Alternative zum Pkw. Sie
    verursachen nur ca. halb so viel (bei höherer Auslastung noch
    deutlich weniger) CO₂-Emissionen wie ein Pkw auf der
    gleichen Strecke (<a target="_blank"
        href="https://www.umweltbundesamt.de/umwelttipps-fuer-den-alltag/mobilitaet/bus-bahn-fahren#hintergrund"
>UBA
    2022</a>).</p>
<p>
    Oft ist diese Option auch <b>günstiger</b>, insbesondere wenn z.B.
    Monatskarten für den ÖPNV oder Bahncards bereitgestellt werden.
    Zum Beispiel kostet das Deutschland-Ticket 49 € pro Monat (Stand: September 2024), 
    während ein Auto in der Golfklasse bei einer jährlichen Fahrleistung von ca. 15.000 km 
    bis zu 500 € im Monat kostet (<a target="_blank"
        href="https://www.umweltbundesamt.de/umwelttipps-fuer-den-alltag/mobilitaet/bus-bahn-fahren#hintergrund"
>UBA
    2024</a>). </p>
<p>
    Zudem kann die <b>Wegzeit</b> (anders als im Auto) <b>aktiv genutzt</b>
    werden.</p>
<p>
    Auf der Seite der <a target="_blank"
        href="https://www.bahn.de/">Deutschen
    Bahn</a> oder in der App <a target="_blank"
        href="https://www.bahn.de/service/mobile/db-navigator">DB
    Navigator</a> können Sie geplante Strecken
    eingeben und erhalten aktuelle Informationen zu möglichen
    öffentlichen Verkehrsmitteln.</p>
<p>
  Die <b>Reiserichtlinien</b> bieten zudem eine gute Möglichkeit, entsprechende Anreize zur Nutzung von öffentlichen
  Verkehrsmitteln bei Dienstreisen zu setzen. Weitere Informationen dazu finden Sie z.B. im <a
  href="https://static1.squarespace.com/static/6061e2ccd87ebe0848dd80dd/t/62039260228de411d6a69800/1644401265375/Leitfaden+MobilityPolicy.pdf" target="_blank">Leitfaden
  zu
  Mobilitätsrichtlinien</a> von B.A.U.M. e. V.
</p>
