<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/pkw_2%201.svg" height="72" alt="Pkw">
</p>
<h1>Sonderausstattung</h1>
<p>
  Auf <b>Sonderausstattungen</b>, die keinen Sicherheits- oder Komfortvorteil haben, sondern ausschließlich der <b>Optik</b> dienen,
  sollte bei einer umweltverträglichen Pkw-Beschaffung <b>verzichtet</b> werden. Der Einsatz von <b>edlen
  Materialien</b> wie
  Kohlefaser (Carbon), Edelhölzer und Edelmetalle <b>in der Innenraumverkleidung</b> hat keinen funktionalen Mehrwert, kann
  aber zu erhöhten Umweltbelastungen führen und sollte damit vermieden werden. Darüber hinaus sollte auf
  <b>Glasdächer</b>
  verzichtet werden, da diese einen negativen Einfluss auf die Fahrzeugisolation/Aufheizung und damit auf den Heizbedarf
  und die Kühlleistung haben.
</p>
<p>
    Sonderausstattungen, die <b>aus Umweltsicht wünschenswert</b> sind,
    sind beispielsweise <b>LED-Scheinwerfer</b> statt Halogenlampen, da
    sie effizienter und durch die bessere Ausleuchtung auch sicherer
    sind. Zudem ist bei E-Pkw eine <b>Wärmepumpe</b> zu empfehlen, da
    sie den Strombedarf zum Heizen reduziert und sich dadurch zudem
    positiv auf die Reichweite auswirkt (<a target="_blank"
        href="https://www.enbw.com/blog/elektromobilitaet/laden/e-auto-mit-waermepumpe-alles-wissenswerte/"
>EnBW
    2022</a>).
</p>
<p>
    <img src="assets/Reifen.png"
         style="width: 20rem"
         class="img-fluid img-thumbnail float-end ms-2"
         alt="Beispiel Aufkleber Effizienz für Reifen"/>
    <b>Reifen</b></p>
<p>
    Effizienzvorteile sind ebenfalls bei der Wahl der Reifen zu
    erzielen. Auf die Erstbereifung hat man bei der Pkw-Beschaffung in
    der Regel keinen Einfluss. Ausstattungslinien, die mit breiteren
    Reifen als die Serienausstattung einhergehen, sollten jedoch
    explizit ausgeschlossen werden, da diese Reifen aufgrund des höheren
    Rollwiderstands und Gewichts einen Mehrverbrauch verursachen (<a target="_blank"
        href="https://www.adac.de/rund-ums-fahrzeug/ausstattung-technik-zubehoer/reifen/sicherheit/reifengroesse/"
>ADAC
    2023</a>). Bei der Beschaffung von Ersatz- und
    Winterreifen sollte das <b>EU-Reifenlabel C-B-B </b>(oder besser →
    A ist der beste Wert) gefordert werden.</p>
<p>
    Da <b>Ersatz- und Winterreifen</b> oft unabhängig von der
    eigentlichen Pkw-Beschaffung ausgeschrieben (z.B. über eine
    <b>zentrale Beschaffung</b>) und bei Bedarf intern angefordert
    werden, sollten die Umweltanforderungen an Reifen an die zuständige
    Beschaffungsstelle weitergegeben werden.</p>
<p>
  <b>Ganzjahresreifen</b> haben keinen eindeutigen Umweltvorteil. Vor allem bei einem innerstädtischen Einsatzprofil und in
  gemäßigten Klimaregionen können Ganzjahresreifen eine Alternative sein, da hier die Spezialisierungen von Sommer- und
  Winterreifen weniger relevant sind. Der Wegfall des halbjährlichen Reifenwechsels und der Einlagerung ist hier ein
  praktischer Vorteil von Ganzjahresreifen. (<a target="_blank"
        href="https://www.adac.de/rund-ums-fahrzeug/ausstattung-technik-zubehoer/reifen/reifentest/ganzjahresreifen/"
>ADAC
    2020</a>)</p>
