<mat-card class="m-3 mt-0 text-bg-light bg-white flex-grow-1">

  <mat-card-content class="flex-grow-1">

    <div class="row h-100">
      <form
        class="col-6 d-flex flex-column">

        <!-- Stepper with form elements -->

        <!-- Stepper -->
        <app-custom-stepper #stepper
                            title="Empfehlungen"
                            [linear]="false"
                            class="flex-grow-1"
        >

          <ng-template stepperGraphic>
            <img src="assets/Header%20Empfehlungen/pkw_2%201.svg" alt="Pkw" height="40">
          </ng-template>
          <ng-template finishButton>
            <a mat-stroked-button
               [routerLink]="['/']"
               color="primary">Beenden
            </a>
          </ng-template>

          <cdk-step label="Einleitung">

            <hr class="mt-1">
            <section class="p-2">
              <p>
                Die Wahl der Antriebsart und des Fahrzeugsegments ist entscheidend für eine umweltverträgliche
                Pkw-Beschaffung. Im Folgenden erhalten Sie aus Abfragen resultierende Empfehlungen dazu.
              </p>
              <ul>
                <li>Sollte der Einsatzzweck für alle zu beschaffenden Pkw gleich sein, können die resultierenden
                  Empfehlungen für die komplette Ausschreibung übernommen werden.
                </li>
                <li>
                  Bei sich deutlich unterscheidenden Einsatzzwecken sollten die Abfragen pro Einsatzzweck bearbeitet
                  werden.
                </li>
              </ul>
            </section>

          </cdk-step>

          <cdk-step label="Angaben">

            <hr class="mt-1">
            <section class="p-2">

              <h2 class="mat-h1">1. Antriebsart</h2>

              <p>
                In diesem Abschnitt geht es darum, wie das Fahrprofil aussieht und ob Lademöglichkeiten bestehen.
              </p>
              <p>
                Diese Fragestellungen sind relevant, um ein möglichst umweltverträgliches Fahrzeug bzgl. der
                Antriebsart zu wählen.
              </p>

              <h3 class="mat-h2">1.1 Fahrprofil</h3>

              <p>
                Welche Distanz soll mit dem zu beschaffenden Pkw im Normalfall pro Tag zurückgelegt werden?
              </p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>km/Tag</mat-label>
                <input matInput type="number" [ngModel]="grid.cells['Names']['F_R1']"
                       name="F_R1" #F_R1="ngModel" required min="1" step="1"
                       (ngModelChange)="grid.setCell('Names', 'F_R1', F_R1.value)">
              </mat-form-field>


              <p>
                Wie oft werden übers Jahr Tagesstrecken über 150 km zurückgelegt?
              </p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Strecken über 150 km</mat-label>
                <mat-select [ngModel]="grid.cells['Names']['F_S1']" name="F_S1"
                            #F_S1="ngModel" required
                            (ngModelChange)="grid.setCell('Names', 'F_S1', F_S1.value)">
                  <mat-option
                    *ngFor="let option of [grid.cells['Names']['A_S1'], grid.cells['Names']['A_S2'], grid.cells['Names']['A_S3']]"
                    [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <p>
                Wie häufig werden die Tagesstrecken im Normalfall von Standzeiten (≈ mind. 30 min) unterbrochen?
              </p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Häufigkeit Nutzung</mat-label>
                <mat-select [ngModel]="grid.cells['Names']['F_SZ1']" name="F_SZ1"
                            #F_SZ1="ngModel" required
                            (ngModelChange)="grid.setCell('Names', 'F_SZ1', F_SZ1.value)">
                  <mat-option
                    *ngFor="let option of [grid.cells['Names']['A_SV1'], grid.cells['Names']['A_SV2'], grid.cells['Names']['A_SV3']]"
                    [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </section>

          </cdk-step>

          <cdk-step label="Angaben">

            <hr class="mt-1">
            <section class="p-2">

              <h3 class="mat-h2">1.2 Ladesäulen</h3>

              <p>
                Sind Ladesäulen am Standort bzw. im umliegenden öffentlichen Raum oder am Wohnort der Nutzenden
                verfügbar?
              </p>
              <app-button-toggle-group
                class="mt-4 mb-5"
                [options]="[grid.cells['Names']['A_JN1'], grid.cells['Names']['A_JN2']]"
                [selectedOption]="grid.cells['Names']['F_L1']"
                (selectedOptionChange)="grid.setCell('Names', 'F_L1', $event)">
              </app-button-toggle-group>

              <p>
                Sind Ladesäulen auf den zu befahrenden Strecken verfügbar?
              </p>
              <app-button-toggle-group
                class="mt-4 mb-5"
                [options]="[grid.cells['Names']['A_JN1'], grid.cells['Names']['A_JN2']]"
                [selectedOption]="grid.cells['Names']['F_L2']"
                (selectedOptionChange)="grid.setCell('Names', 'F_L2', $event)">
              </app-button-toggle-group>


              <h2 class="mat-h2">1.3 Fuhrpark</h2>
              <p>
                Ist das zu beschaffende Fahrzeug Teil eines Fuhrparks?
              </p>
              <app-button-toggle-group
                class="mt-4 mb-5"
                [options]="[grid.cells['Names']['A_JN1'], grid.cells['Names']['A_JN2']]"
                [selectedOption]="grid.cells['Names']['F_F1']"
                (selectedOptionChange)="grid.setCell('Names', 'F_F1', $event)">
              </app-button-toggle-group>

            </section>

          </cdk-step>


          <cdk-step label="Fahrzeugsegment">

            <hr class="mt-1">
            <section class="p-2">

              <h2 class="mat-h1">2. Fahrzeugsegment</h2>
              <p>
                In diesem Abschnitt geht es darum, welche Aufgabenstellung erfüllt werden soll, um ein möglichst
                umweltverträgliches Fahrzeug bzgl. des Fahrzeugsegments zu wählen. Die Abfragen bezüglich der
                Antriebsart gehen teilweise ebenfalls mit ein in die Empfehlung zum Fahrzeugsegment.
              </p>

              <h3 class="mat-h2">2.1 Sitzplätze</h3>

              <div class="row">
                <div class="col-auto col-md-6">
                  <p>
                    Wie viele Personen fahren maximal zusammen in dem Pkw?
                  </p>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Anzahl Personen</mat-label>
                    <input matInput type="number" [ngModel]="grid.cells['Names']['F_P1']"
                           name="F_P1" #F_P1="ngModel" required min="1" step="1" max="9"
                           (ngModelChange)="grid.setCell('Names', 'F_P1', F_P1.value)">
                  </mat-form-field>
                </div>

                <div class="col-auto col-md-6">
                  <p>
                    Wie häufig werden alle Sitzplätze benötigt?
                  </p>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Häufigkeit</mat-label>
                    <mat-select [ngModel]="grid.cells['Names']['F_SP1']" name="F_SP1"
                                #F_SP1="ngModel" required
                                (ngModelChange)="grid.setCell('Names', 'F_SP1', F_SP1.value)">
                      <mat-option
                        *ngFor="let option of [grid.cells['Names']['A_SP1'], grid.cells['Names']['A_SP2'], grid.cells['Names']['A_SP3']]"
                        [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <h3 class="mat-h2">2.2 Transport</h3>
              <p>
                Wie häufig bestehen aufwändige Anforderungen an den Transport von Gegenständen (z.B.
                viele/große/schwere Gegenstände), sodass Vans/Utilities notwendig sind?
              </p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Häufigkeit</mat-label>
                <mat-select [ngModel]="grid.cells['Names']['F_T1']" name="F_T1"
                            #F_T1="ngModel" required
                            (ngModelChange)="grid.setCell('Names', 'F_T1', F_T1.value)">
                  <mat-option
                    *ngFor="let option of [grid.cells['Names']['A_T1'], grid.cells['Names']['A_T2'], grid.cells['Names']['A_T3']]"
                    [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <h3 class="mat-h2">2.3 Leitungsebene</h3>
              <p>
                Wird der Pkw für die Leitungsebene beschafft?
              </p>
              <app-button-toggle-group
                class="mt-4 mb-4"
                [options]="[grid.cells['Names']['A_JN1'], grid.cells['Names']['A_JN2']]"
                [selectedOption]="grid.cells['Names']['F_LE1']"
                (selectedOptionChange)="grid.setCell('Names', 'F_LE1', $event)">
              </app-button-toggle-group>

              <mat-card class="bg-light mb-1" appearance="outlined">
                <mat-card-content>
                  <p>
                    Neben der Wahl der Antriebsart und des Fahrzeugsegments können Umwelt-anforderungen in der
                    Ausschreibung einen Beitrag zur umweltverträglichen Pkw-Beschaffung leisten.
                  </p>
                  <p>
                    Vorschläge für
                    umweltbezogene Mindestanforderungen und Zuschlagskriterien finden Sie hier.
                  </p>
                  <div class="text-center">
                    <!-- TODO: Popover Umweltanforderungen -->
                    <a mat-stroked-button color="primary" routerLink="/empfehlungen">
                      Umweltanforderungen
                    </a>
                  </div>
                </mat-card-content>
              </mat-card>

            </section>

          </cdk-step>

        </app-custom-stepper>


      </form>

      <!-- Results -->
      <div class="col-6 d-flex flex-column justify-content-start align-items-stretch">

        <!-- Übersichtsgrafik -->
        <div class="d-flex align-items-center justify-content-between" style="height: 40px">
          <h4 *ngIf="stepper.selectedIndex > 0"
              (click)="toggleUebersichtsgrafikVisible(false)"
              [class.text-muted]="viewstate.uebersichtsgrafikVisible || stepper.selectedIndex == 0"
              class="mat-headline-6 me-auto m-0 mx-2 text-uppercase">
            Dokumentation
          </h4>
          <button *ngIf="stepper.selectedIndex > 0" mat-icon-button (click)="toggleUebersichtsgrafikVisible()"
                  title="Übersichtsgrafik ein-/ausblenden">
            <mat-icon class="material-icons-outlined" color="primary">swap_horizontal_circle</mat-icon>
          </button>
          <h4 (click)="toggleUebersichtsgrafikVisible(true)"
              [class.text-muted]="!(viewstate.uebersichtsgrafikVisible || stepper.selectedIndex == 0)"
              class="mat-headline-6 ms-auto m-0 mx-2 text-uppercase">
            Übersichtsgrafik
          </h4>
        </div>

        <mat-card
          class="mat-card-ubersicht mat-mdc-elevation-specific mat-elevation-z8"
          [class.mat-card-visible]="viewstate.uebersichtsgrafikVisible || stepper.selectedIndex == 0"
          [class.mat-card-hidden]="!(viewstate.uebersichtsgrafikVisible || stepper.selectedIndex == 0)">
          <app-uebersichtsgrafik></app-uebersichtsgrafik>
          <button *ngIf="stepper.selectedIndex > 0" mat-icon-button (click)="toggleUebersichtsgrafikVisible()"
                  title="Übersichtsgrafik ein-/ausblenden"
                  class="btn-open-close">
            <mat-icon class="material-icons-outlined" color="primary">
              <ng-container *ngIf="!viewstate.uebersichtsgrafikVisible">arrow_circle_left</ng-container>
              <ng-container *ngIf="viewstate.uebersichtsgrafikVisible">arrow_circle_right</ng-container>
            </mat-icon>
          </button>
        </mat-card>

        <!-- Dokumentation -->
        <hr class="mt-1">

        <div class="vstack gap-2 me-2">
          <mat-card appearance="outlined"
                    class="bg-light"
                    [class.mat-card-inactive]="!grid.getCell('Names', 'E_A0')"
          >
            <mat-card-header>
              <mat-card-title class="mat-h1">
                1. Antriebsart
              </mat-card-title>
            </mat-card-header>
            <mat-card-content [class.invisible]="!grid.getCell('Names', 'E_A0')">
              <p class="ps-4">
                {{grid.getCell('Names', 'E_A0')}}
              </p>
            </mat-card-content>
          </mat-card>


          <mat-card appearance="outlined"
                    class="bg-light"
                    [class.mat-card-inactive]="!grid.getCell('Names', 'E_F0')"
          >
            <mat-card-header>
              <mat-card-title class="mat-h1">
                2. Fahrzeugsegment
              </mat-card-title>
            </mat-card-header>
            <mat-card-content [class.invisible]="!grid.getCell('Names', 'E_F0')">
              <p class="ps-4">
                {{grid.getCell('Names', 'E_F0')}}
              </p>
            </mat-card-content>
          </mat-card>

        </div>
      </div>

    </div>

  </mat-card-content>
</mat-card>
