:host {
  display: contents;
}

/* limit the columns in the card to screen height ans scroll content */
.max-screen-height {
  @media screen and (min-width: 768px) { /* breakpoint md, but cant be a variable */
    max-height: calc(100vh - 112px);
  }

  ::ng-deep .mat-mdc-button-touch-target {
    display: none;
  }
}


.mat-card-ubersicht {
  inset: 3.7rem -1rem auto auto;
  width: min(calc(100vw - 2rem), max(calc(50% + 1rem), 35rem));
  position: absolute;
  background-color: var(--bs-light);
  max-height: 863px;
  z-index: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  transition-delay: 0s;
  transition: width 0.25s ease-in-out,
  inset 0.25s ease-in-out,
  box-shadow 0.25s ease-in-out;

  &.mat-card-hidden {
    width: 0;
    box-shadow: none;

    /* Angular Material after pseudo lass prevents the card from beeing invisible */
    &:after {
      display: none;
    }

    /* hide clickable elements in hidden card to prevent keyboarb focus*/
    ::ng-deep [role="button"] {
      visibility: hidden;
      transition-property: visibility;
      transition-delay: 0.25s;
    }
  }

  > .btn-open-close {
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateX(-100%) translateY(50%);
    transition: left 0.25s ease-in-out;
  }

  &.mat-card-visible {
    > .btn-open-close {
      left: 0px;
    }
  }
}

/* hide reset button in first step */
app-custom-stepper[data-current-step="0"] ::ng-deep .btn-reset {
  display: none;
}
