:host {
  display: contents;
}


.mat-card-ubersicht {
  inset: 3.7rem -1rem -1rem auto;
  width: calc(50% + 1rem);
  position: absolute;
  background-color: var(--bs-light);
  max-height: 863px;
  z-index: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  transition-delay: 0s;
  transition: width 0.25s ease-in-out,
  inset 0.25s ease-in-out,
  box-shadow 0.25s ease-in-out;

  &.mat-card-hidden {
    width: 0;
    box-shadow: none;

    /* Angular Material after pseudo lass prevents the card from beeing invisible */
    &:after {
      display: none;
    }
  }

  > .btn-open-close {
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateX(-100%) translateY(50%);
    transition: left 0.25s ease-in-out;
  }

  &.mat-card-visible {
    > .btn-open-close {
      left: 9px;
    }
  }
}
