@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Material Icons */
@import 'material-symbols/outlined';

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0;
}

$weights: 200, 300, 400;
$opticalSizes: 20, 24, 40, 48;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;

  @each $weight in $weights {
    &.wght-#{$weight} {
      font-variation-settings: 'FILL' 0, 'wght' $weight, 'GRAD' 0, 'opsz' 24;

      @each $size in $opticalSizes {
        &.opsz-#{$size} {
          font-variation-settings: 'FILL' 0, 'wght' $weight, 'GRAD' 0, 'opsz' $size;
        }
      }
    }
  }
}

.bs-40 {
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
  line-height: 40px !important;
}

.bs-48 {
  width: 48px !important;
  height: 48px !important;
  font-size: 48px !important;
  line-height: 48px !important;
}

.rotate-90 {
  transform: rotate(90deg);
}
