
// Bootstrap configuration
$enable-negative-margins: true;
$enable-transitions: true;
$enable-caret: true;
$enable-rfs: false;
$enable-button-pointers: true;
$enable-validation-icons: false;
$enable-deprecation-messages: false;
$enable-cssgrid: true;

// Custom Bootstrap colors
$primary: #00609C;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// show touched inputs' validation state
input.ng-touched:invalid {
  @extend .is-invalid;
}

// Fonts
$font-family-sans-serif: 'Kanit', sans-serif;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.25;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "fonts";

// Custom navigation footer style
.navigation-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--bs-body-bg);
  padding: 1rem 0;
  border-top: 1px solid var(--bs-border-color);
  z-index: 1000;
}

html, body {
  height: 100%;
}

:root {
  --body-max-width: 92rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: var(--body-max-width);

  @media print {
    background-color: unset;
  }
}

body > app-root {
  display: contents;
}

// custom style
.mat-card-inactive {
  @extend .bg-white;

  > * {
    @extend .opacity-25;
  }
}

/* Prevent splitting cards in multi columns layouts */
.mat-mdc-card {
  break-inside: avoid;
}

/* White border left and right */
.backdrop-white {
  box-shadow: calc(var(--body-max-width) - 1px) 0 0 0 rgba(var(--bs-white-rgb), var(--bs-bg-opacity)),
  calc(-1 * var(--body-max-width) + 1px) 0 0 0 rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
}
.backdrop-dark {
  box-shadow: calc(var(--body-max-width) - 1px) 0 0 0 rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)),
  calc(-1 * var(--body-max-width) + 1px) 0 0 0 rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

@media print {
  @page {
    size: A4;
    margin: 1cm 1cm 2cm 1cm;
  }

  .mat-mdc-card {
    break-inside: avoid;

    &.mat-card-main-content {
      break-inside: unset;
    }

    &.mat-card-print {
      display: block; /* workaround for printing bug in FF */
      border: none !important;
      background: transparent !important;
      box-shadow: none !important;

      > .mat-mdc-card-header {
        display: block; /* workaround for printing bug in FF */
        padding: 0;
      }

      > .mat-mdc-card-content {
        padding: 0;
      }
    }
  }


  .col-12-print {
    flex: 0 0 auto;
    width: 100%;
  }

  .bg-print-none {
    background: transparent !important;
  }

  .p-print-none {
    padding: 0 !important;
  }

  .h-print-auto {
    height: unset !important;
  }

  .print-break-avoid {
    break-inside: avoid-page;
    position: relative;
  }
  .print-break-before {
    break-before: page;
    position: relative;
  }
}

