<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/oeffentliche_2%202.svg" height="72" alt="ÖPNV">
</p>
<h1>Abo im ÖPNV</h1>
<p>
    Ein Abo für den ÖPNV in Form einer <b>Zeitkarte
</b>(Wochen-/Monats-/Jahreskarte) ist eine günstige Alternative zu
    Einzeltickets, die die Nutzung des ÖPNV zudem deutlich
    unkomplizierter macht. Darüber hinaus ist ein Abo ein Anreiz, den
    ÖPNV regelmäßig zu nutzen, womit das Auto in der Stadt (für Wege
    ohne aufwändige Transportanforderungen) überflüssig werden kann.</p>
<p>
    Ein besonders attraktives Abo ist das
    <a href="https://www.adac.de/news/49-euro-ticket/" target="_blank">49-Euro-Ticket</a>,
    das seit Mai 2023 erhältlich ist. Dieses Ticket ist <b>deutschlandweit</b>
    im öffentlichen Nahverkehr <b>gültig </b>und monatlich kündbar.
    Anders als das 9-Euro-Ticket aus dem Sommer 2022 soll das
    49-Euro-Ticket ein dauerhaftes Angebot bleiben, sodass die Befassung
    mit regionalen Zeitkarten in der Regel nicht mehr nötig sein wird.
    Zudem übernehmen einige Kommunen die vollständigen Kosten des Tickets für ihre Beschäftigten und machen damit den
    Arbeitsplatz attraktiver, wie z.B. in <a href="https://www.stuttgart.de/service/aktuelle-meldungen/januar-2023/landeshauptstadt-fuehrt-kostenfreies-deutschlandticket-fuer-ihre-beschaeftigten-ein.php" target="_blank">Stuttgart</a>.
</p>
