<p class="d-flex gap-3 align-items-center justify-content-start">
    <img src="assets/Infoboxen/pkw_2%201.svg" height="72" alt="Pkw">
</p>
<h1>Leasing/Kauf eines Pkw – Marktanalyse </h1>
<p>
    Wenn weder die Nutzung eines bereits vorhandenen Fahrzeugs aus dem
    Fuhrpark noch die Nutzung eines Car-Sharing-Systems für einzelne
    Fahrten möglich ist, muss ein neues Fahrzeug geleast/gekauft
    werden.</p>
<p>
    Fahrzeugdatenbanken, die Sie bei der <b>Marktanalyse </b>unterstützen
    können, finden Sie unter folgenden Links:</p>
<p>
    E-Autos:</p>
<ul>
    <li>
        <a target="_blank"
                href="https://www.adac.de/rund-ums-fahrzeug/elektromobilitaet/kaufen/elektroautos-uebersicht/"
        >ADAC
            - Aktuelle Elektroautos</a>
    <li>
        <a target="_blank"
                href="https://www.enbw.com/blog/e-auto-finder/">EnBW
            E-Auto Finder</a>
    <li>
        <a target="_blank"
                href="https://www.bafa.de/SharedDocs/Downloads/DE/Energie/emob_liste_foerderfaehige_fahrzeuge.pdf?__blob=publicationFile&amp;v=156"
        >BAFA
            - Liste der förderfähigen Elektrofahrzeuge</a>
    <li>
        <a target="_blank"
                href="https://eco-auto.info/products/passenger_cars_electric">eco-auto
            - Elektroautos</a> (Preise in CHF)
</ul>
<p>
    Alle Antriebe:</p>
<ul>
    <li>
        <a target="_blank"
                href="https://www.greenncap.com/assessments/">Green
            NCAP</a>
    <li>
        <a target="_blank"
                href="https://www.adac.de/rund-ums-fahrzeug/autokatalog/marken-modelle/autosuche/">ADAC
            - Autosuche</a>
    <li>
        <a target="_blank"
                href="https://eco-auto.info/products/passenger_cars_combustion">eco-auto
            - Benzin- und Dieselautos</a> (Preise in CHF)
</ul>
<p>
    Die <b>Optionen zur Vermeidung einer zusätzlichen Pkw-Beschaffung</b>
    sollten aber unbedingt vorab von der Bedarfsstelle geprüft werden.
    Insbesondere die Auslastung des vorhandenen Fuhrparks und das
    Ausweichen auf öffentliche Verkehrsmittel oder das Fahrrad sollten
    dabei berücksichtigt werden.</p>
