<!--suppress JSUnusedGlobalSymbols, RequiredAttributes -->
<figure class="bg-light m-0" mat-card-image style="
        background: var(--bs-light) url('assets/Übersicht_bg.svg') no-repeat top left;
        background-attachment: local;
        overflow: auto;
">
  <svg fill-rule="evenodd" height="848" preserveAspectRatio="xMidYMid" stroke-linejoin="round" stroke-width="28.222"
       viewBox="0 0 25779 29905" width="722" xmlns="http://www.w3.org/2000/svg">

    <g [dialogTrigger]="popupEFahrrad">

      <path
        d="m 1308,4090 c 0,-156 127,-283 282,-283 h 3353 c 156,0 282,127 282,283 v 565 c 0,156 -126,282 -282,282 h -3353 c -155,0 -282,-126 -282,-282 z"
        fill="#a2d72d" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="1882" y="4551">(E-)Fahrrad</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupEFahrrad cardTitle="(E-)Fahrrad">
        <ng-template #dialogContent>
          <app-popup-efahrrad></app-popup-efahrrad>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupELastenrad">

      <path
        d="m 779,5643 c 0,-157 126,-283 282,-283 h 3882 c 156,0 282,126 282,283 v 564 c 0,156 -126,283 -282,283 h -3882 c -156,0 -282,-127 -282,-283 z"
        fill="#a2d72d" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="1347" y="6103">(E-)Lastenrad</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupELastenrad cardTitle="(E-)Lastenrad">
        <ng-template #dialogContent>
          <app-popup-elastenrad></app-popup-elastenrad>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupFahrrad">

      <path
        d="m 2155.0000000001,7194 c 0,-156 126,-282 282,-282 h 2506 c 156,0 282,126 282,282 v 565 c 0,156 -126,283 -282,283 h -2506 c -156,0 -282,-127 -282,-283 z"
        fill="#5e8200" class="button"></path>

      <text>
        <tspan  font-size="494px" font-weight="400"  x="2763.0000000001" y="7655"  fill="#ffffff">Fahrrad</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupFahrrad cardTitle="Fahrrad">
        <ng-template #dialogContent>
          <app-popup-fahrrad></app-popup-fahrrad>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupFahrradPooling">

      <path
        d="m 6812.0000000001,950.1109999999999 c 0,-156 127,-282 283,-282 h 2505 c 155,0 282,126 282,282 v 565 c 0,156 -127,283 -282,283 h -2505 c -156,0 -283,-127 -283,-283 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="7459.0000000001" y="1411.1109999999999">Pooling</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupFahrradPooling cardTitle="Pooling von Fahrrädern">
        <ng-template #dialogContent>
          <app-popup-fahrrad-pooling></app-popup-fahrrad-pooling>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupFahrradSharing">

      <path
        d="m 6847.0000000001,2503 c 0,-156 127,-283 283,-283 h 2505 c 156,0 282,127 282,283 v 565 c 0,155 -126,282 -282,282 h -2505 c -156,0 -283,-127 -283,-282 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="7467.0000000001" y="2963">Sharing <!-- Rad --></tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupFahrradSharing cardTitle="Fahrrad Sharing">
        <ng-template #dialogContent>
          <app-popup-fahrrad-sharing></app-popup-fahrrad-sharing>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupFahrradKauf">

      <path
        d="m 6812.0000000001,4054 c 0,-156 126,-282 282,-282 h 3387 c 156,0 283,126 283,282 v 566 c 0,156 -127,282 -283,282 h -3387 c -156,0 -282,-126 -282,-282 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="7666.0000000001" y="4515">Abo/Kauf <!-- Rad --></tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupFahrradKauf cardTitle="Fahrrad Abo/Kauf">
        <ng-template #dialogContent>
          <app-popup-fahrrad-abo-kauf-leasing></app-popup-fahrrad-abo-kauf-leasing>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupThgVergleich">

      <path
        d="m 10480.0,12628 c 0,-156 127,-283 283,-283 h 2647 c 155,0 282,127 282,283 v 564 c 0,156 -127,283 -282,283 h -2647 c -156,0 -283,-127 -283,-283 z"
        fill="#00046a" class="button"></path>

      <text>
        <tspan  font-size="494px" font-weight="400"  x="10969" y="13088"  fill="#ffffff">Vergleich</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupThgVergleich cardTitle="THG-Vergleich von Verkehrsmitteln">
        <ng-template #dialogContent>
          <app-popup-thg-vergleich></app-popup-thg-vergleich>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupOEffentliche">

      <path
        d="m 17889.0,11004 c 0,-156 126,-282 282,-282 h 3528 c 157,0 283,126 283,282 v 566 c 0,155 -126,282 -283,282 h -3528 c -156,0 -282,-127 -282,-282 z"
        fill="#008490" class="button"></path>

      <text>
        <tspan  font-size="494px" font-weight="400"  x="18607" y="11465"  fill="#ffffff">Öffentliche</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupOEffentliche cardTitle="Öffentliche Verkehrsmittel">
        <ng-template #dialogContent>
          <app-popup-oeffentliche-verkehrsmittel></app-popup-oeffentliche-verkehrsmittel>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupOEPNV">

      <path
        d="m 17889.0,13757 c 0,-156 126,-283 282,-283 h 3528 c 157,0 283,127 283,283 v 564 c 0,156 -126,282 -283,282 h -3528 c -156,0 -282,-126 -282,-282 z"
        fill="#20bccc" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="19225" y="14217">ÖPNV</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupOEPNV cardTitle="ÖPNV">
        <ng-template #dialogContent>
          <app-popup-oepnv></app-popup-oepnv>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupBahnFernbus">

      <path
        d="m 17889.0,16507 c 0,-155 126,-282 282,-282 h 3528 c 157,0 283,127 283,282 v 566 c 0,156 -126,282 -283,282 h -3528 c -156,0 -282,-126 -282,-282 z"
        fill="#20bccc" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="18271" y="16969">Bahn/Fernbus</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupBahnFernbus cardTitle="Bahn und Fernbus">
        <ng-template #dialogContent>
          <app-popup-bahn-fernbus></app-popup-bahn-fernbus>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupAbo">

      <path
        d="m 21981.0,12309 c 0,-156 126,-282 283,-282 h 2505 c 156,0 282,126 282,282 v 566 c 0,156 -126,282 -282,282 h -2505 c -157,0 -283,-126 -283,-282 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="23036" y="12770">Abo</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupAbo cardTitle="Abo">
        <ng-template #dialogContent>
          <app-popup-abo-oepnv></app-popup-abo-oepnv>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupBahncard">

      <path
        d="m 21946.0,15096 c 0,-156 126,-282 282,-282 h 2506 c 156,0 282,126 282,282 v 565 c 0,157 -126,283 -282,283 h -2506 c -156,0 -282,-126 -282,-283 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="22345" y="15557">Bahncard</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupBahncard cardTitle="Bahncard">
        <ng-template #dialogContent>
          <app-popup-bahncard></app-popup-bahncard>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupPkw">

      <path
        d="m 6847.0000000001,17636 c 0,-156 127,-282 283,-282 h 2505 c 156,0 282,126 282,282 v 566 c 0,156 -126,282 -282,282 h -2505 c -156,0 -283,-126 -283,-282 z"
        fill="#5764ff" class="button"></path>

      <text>
        <tspan  font-size="494px" font-weight="400"  x="7879.0000000001" y="18097"  fill="#ffffff">Pkw</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupPkw cardTitle="Pkw">
        <ng-template #dialogContent>
          <app-popup-pkw></app-popup-pkw>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupAntriebsart">

      <path
        d="m 5330.0000000001,19577 c 0,-156 126,-283 282,-283 h 2506 c 156,0 282,127 282,283 v 564 c 0,157 -126,283 -282,283 h -2506 c -156,0 -282,-126 -282,-283 z"
        fill="#9ca4ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="5512.0000000001" y="20038">Antriebsart</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupAntriebsart cardTitle="Antriebsart">
        <ng-template #dialogContent>
          <app-popup-antriebsart></app-popup-antriebsart>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupFahrzeugsegment">

      <path
        d="m 3742.0000000001,21129 c 0,-156 127,-282 283,-282 h 4163 c 156,0 283,126 283,282 v 565 c 0,156 -127,282 -283,282 h -4163 c -156,0 -283,-126 -283,-282 z"
        fill="#9ca4ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="3945.0000000001" y="21590">Fahrzeugsegment</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupFahrzeugsegment cardTitle="Fahrzeugsegment">
        <ng-template #dialogContent>
          <app-popup-fahrzeugsegment></app-popup-fahrzeugsegment>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupDimensionierung">

      <path
        d="m 3742.0000000001,22682 c 0,-157 127,-283 283,-283 h 4093 c 156,0 282,126 282,283 v 564 c 0,156 -126,283 -282,283 h -4093 c -156,0 -283,-127 -283,-283 z"
        fill="#9ca4ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="4058.0000000001" y="23142">Dimensionierung</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupDimensionierung cardTitle="Dimensionierung">
        <ng-template #dialogContent>
          <app-popup-dimensionierung></app-popup-dimensionierung>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupAusstattung">

      <path
        d="m 4907.0000000001,24233 c 0,-156 126,-282 282,-282 h 2929 c 156,0 282,126 282,282 v 565 c 0,157 -126,283 -282,283 h -2929 c -156,0 -282,-126 -282,-283 z"
        fill="#9ca4ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="5188.0000000001" y="24694">Ausstattung</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupAusstattung cardTitle="Ausstattung">
        <ng-template #dialogContent>
          <app-popup-ausstattung></app-popup-ausstattung>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupPkwPooling">

      <path
        d="m 9105.0,19612 c 0,-156 126,-282 282,-282 h 2506 c 155,0 282,126 282,282 v 564 c 0,157 -127,284 -282,284 h -2506 c -156,0 -282,-127 -282,-284 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="9752" y="20073">Pooling</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupPkwPooling cardTitle="Car-Pooling">
        <ng-template #dialogContent>
          <app-popup-pkw-pooling></app-popup-pkw-pooling>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupPkwSharing">

      <path
        d="m 9105.0,21164 c 0,-156 126,-282 282,-282 h 2506 c 155,0 282,126 282,282 v 566 c 0,155 -127,282 -282,282 h -2506 c -156,0 -282,-127 -282,-282 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="9725" y="21625">Sharing</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupPkwSharing cardTitle="Car-Sharing">
        <ng-template #dialogContent>
          <app-popup-pkw-sharing></app-popup-pkw-sharing>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupPkwMieten">

      <path
        d="m 9105.0,22717 c 0,-156 126,-283 282,-283 h 2506 c 155,0 282,127 282,283 v 565 c 0,156 -127,282 -282,282 h -2506 c -156,0 -282,-126 -282,-282 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="9818" y="23177">Mieten</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupPkwMieten cardTitle="Mietwagen">
        <ng-template #dialogContent>
          <app-popup-pkw-mieten></app-popup-pkw-mieten>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupPkwKauf">

      <path
        d="m 9105.0,24269 c 0,-156 126,-283 282,-283 h 3388 c 155,0 282,127 282,283 v 565 c 0,156 -127,282 -282,282 h -3388 c -156,0 -282,-126 -282,-282 z"
        fill="#cdf9ff" class="button"></path>

      <text>
        <tspan font-size="494px" font-weight="400" x="9509" y="24730">Leasing/Kauf</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupPkwKauf cardTitle="Leasing/Kauf eines Pkw">
        <ng-template #dialogContent>
          <app-popup-pkw-leasing-kauf></app-popup-pkw-leasing-kauf>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

    <g [dialogTrigger]="popupMobilitaetsbudget">

      <path
        d="m 18277.0,23811 c 0,-157 126,-283 282,-283 h 4481 c 156,0 283,126 283,283 v 564 c 0,156 -127,283 -283,283 h -4481 c -156,0 -282,-127 -282,-283 z"
        fill="#00046a" class="button"></path>

      <text>
        <tspan  font-size="494px" font-weight="400"  x="18764" y="24271"  fill="#ffffff">Mobilitätsbudget</tspan>
      </text>
    </g>
    <foreignObject>
      <app-info-card-button #popupMobilitaetsbudget cardTitle="Mobilitätsbudget">
        <ng-template #dialogContent>
          <app-popup-mobilitaetsbudget></app-popup-mobilitaetsbudget>
        </ng-template>
      </app-info-card-button>
    </foreignObject>

  </svg>
</figure>
