:host {
  display: contents;
  /* to pass radius to card content image */
  border-radius: inherit;
}

.button {
  stroke: var(--bs-dark-border-subtle);
  stroke-width: 72px;
}

/* focus clickable groups */
[role="button"] {
  user-select: none;

  filter: brightness(100%);
  transition: filter 0.1s linear;

  &:focus {
    filter: brightness(80%);
  }
}
