:host {
  display: contents;
  /* to pass radius to card content image */
  border-radius: inherit;
}

/* focus clickable groups */
[role="button"] {

  user-select: none;

  path {
    filter: brightness(100%);
    transition: filter 0.1s linear;
  }

  &:focus path:first-of-type {
    filter: brightness(80%);
  }
}
